## 오피넷, 주유소정보

https://www.opinet.co.kr/searRgSelect.do

싼 주유소찾기 > 지역별 

엑셀 저장

### 어느 주유소가 싼지

In [41]:
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from tqdm.notebook import tqdm

In [9]:
url = 'https://www.opinet.co.kr/user/main/mainView.do'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(2)

In [15]:
# 팝업창, 싼주유소찾기 클릭
driver.find_element(By.CSS_SELECTOR, '.ic_m1').click()

In [14]:
driver.find_element(By.CSS_SELECTOR, 'ul.gnb > li > a')

In [26]:
# '서울' 박스 클릭하고 html 태그 찾아서 우클릭 > copy > copy Xpath 
metro = driver.find_element(By.XPATH, '//*[@id="SIDO_NM0"]')
metro.send_keys('서울')
time.sleep(1)   # 메뉴가 뜨도록 잠깐 쉼

In [30]:
sigungu = driver.find_element(By.XPATH, '//*[@id="SIGUNGU_NM0"]')
gu_list = sigungu.find_elements(By.CSS_SELECTOR, 'option')

In [33]:
gu_name = []
for gu in gu_list:
    gu_name.append(gu.text)
del gu_name[0]
gu_name

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [28]:
gu = [gu.text for gu in gu_list][1:]
gu

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [ ]:
# 엑셀저장버튼
driver.find_element(By.XPATH, '//*[@id="glopopd_excel"]/span').click()

## 데이터 크롤링

In [46]:
url = 'https://www.opinet.co.kr/user/main/mainView.do'

driver = webdriver.Chrome()
driver.get(url)
time.sleep(2)
driver.find_element(By.CSS_SELECTOR, '.ic_m1').click()

In [47]:
metro = driver.find_element(By.XPATH, '//*[@id="SIDO_NM0"]')
metro.send_keys('서울')
time.sleep(2)

In [57]:
sigungu = driver.find_element(By.XPATH, '//*[@id="SIGUNGU_NM0"]')
gu_list = sigungu.find_elements(By.CSS_SELECTOR, 'option')

gu_name = []
for gu in gu_list:
    gu_name.append(gu.text)
del gu_name[0]

In [58]:
# 구별 엑셀정보 다운로드
for gu in gu_name:
    sigungu = driver.find_element(By.XPATH, '//*[@id="SIGUNGU_NM0"]')
    time.sleep(2)
    sigungu.send_keys(gu)
    time.sleep(2)
    driver.find_element(By.XPATH, '//*[@id="glopopd_excel"]/span').click()

## 구별 휘발유 가격에 대한 데이터 전처리

In [40]:
import pandas as pd
from glob import glob
import warnings
warnings.filterwarnings('ignore')

In [51]:
# r = raw 이스케이프 문자

print('c:\python\\test\\naver')
print(r'c:\python\test\naver')
* * 
*.py
p* *

c:\python\test\naver
c:\python\test\naver

In [60]:
!pip install xlrd  
# excel파일 다루는 패키지

Collecting xlrd

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ---------------------------------------- 96.5/96.5 kB 5.4 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [61]:
# 폴더에서 지역*xls 로 찾아볼 것
# glob으로 찾아서 가져옴
file = glob(r'C:\workspace\gasData\지역*.xls')[0]    # 첫번째 파일만 열어봄
df = pd.read_excel(file, header=2)
df.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로 1246 (둔촌제2동),현대오일뱅크,02-487-2030,Y,-,1669,1542,-
1,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1684,1595,-
2,서울특별시,대성석유(주)길동주유소,서울 강동구 천호대로 1168,GS칼텍스,02-474-7222,N,1875,1686,1638,1600
3,서울특별시,지에스칼텍스㈜ 동서울주유소,서울 강동구 천호대로 1456 (상일동),GS칼텍스,02-426-5372,Y,1869,1689,1650,-
4,서울특별시,(주)삼표에너지 고덕주유소,서울 강동구 고덕로 39 (암사동),GS칼텍스,02-441-3327,Y,1895,1689,1635,1585

In [62]:
print(glob(r'C:\workspace\gasData\지역*.xls'))

['C:\\workspace\\gasData\\지역_위치별(주유소) (1).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (10).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (11).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (12).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (13).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (14).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (15).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (16).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (17).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (18).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (19).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (2).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (20).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (21).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (22).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (23).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (24).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (3).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (4).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (5).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (6).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (7).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (8).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (9).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소).xls']

In [64]:
df_list = []
for file in glob(r'C:\workspace\gasData\지역*.xls'):
    gs = pd.read_excel(file, header = 2)
    df_list.append(gs)
df = pd.concat(df_list)
df.shape

(441, 10)

In [65]:
df.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1623,1565,-
1,서울특별시,자곡셀프주유소,서울 강남구 밤고개로 120 (자곡동),SK에너지,02-445-5841,Y,-,1669,1575,-
2,서울특별시,삼성동주유소,서울 강남구 테헤란로 619 (삼성동),현대오일뱅크,02-508-6572,Y,1929,1684,1609,-
3,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),GS칼텍스,02-459-3434,Y,-,1687,1639,-
4,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1886,1704,1669,-

In [66]:
df = df[['상호','주소','상표','휘발유','경유','셀프여부']]
df.tail()

                     상호                    주소      상표   휘발유    경유 셀프여부
11  현대오일뱅크㈜직영 도봉현대셀프주유소  서울 도봉구 도봉로 941 (도봉동)  현대오일뱅크  1699  1549    Y
12                오복주유소         서울 도봉구 방학로 43   S-OIL  1715  1627    Y
13         대성산업(주)신창주유소   서울 도봉구 덕릉로 267 (창동)   GS칼텍스  1725  1586    Y
14           (주)쌍문셀프주유소  서울 도봉구 노해로 161 (쌍문동)  현대오일뱅크  1728  1598    Y
15      현대오일뱅크㈜직영 영신주유소        서울 도봉구 방학로 151  현대오일뱅크  1767  1597    N

In [69]:
df.describe()

               휘발유           경유
count   441.000000   441.000000
mean   1746.979592  1645.018141
std     169.443345   178.182770
min    1594.000000  1474.000000
25%    1655.000000  1544.000000
50%    1695.000000  1589.000000
75%    1749.000000  1669.000000
max    2753.000000  2679.000000

In [72]:
# 이름 바꿔보기
df.rename(columns = {'휘발유': '가격', '셀프여부':'셀프'}, inplace = True)
df.head()

            상호                       주소      상표    가격    경유 셀프
0  (주)보성 세곡주유소    서울 강남구  헌릉로 731 (세곡동)   SK에너지  1623  1565  Y
1      자곡셀프주유소    서울 강남구 밤고개로 120 (자곡동)   SK에너지  1669  1575  Y
2       삼성동주유소    서울 강남구 테헤란로 619 (삼성동)  현대오일뱅크  1684  1609  Y
3        방죽주유소    서울 강남구 밤고개로 215 (율현동)   GS칼텍스  1687  1639  Y
4     오일프러스 셀프  서울 강남구 남부순환로 2651 (도곡동)   SK에너지  1704  1669  Y

In [74]:
df['구'] = df.주소.str.split(' ').str[1]

In [75]:
df.head()

            상호                       주소      상표    가격    경유 셀프    구
0  (주)보성 세곡주유소    서울 강남구  헌릉로 731 (세곡동)   SK에너지  1623  1565  Y  강남구
1      자곡셀프주유소    서울 강남구 밤고개로 120 (자곡동)   SK에너지  1669  1575  Y  강남구
2       삼성동주유소    서울 강남구 테헤란로 619 (삼성동)  현대오일뱅크  1684  1609  Y  강남구
3        방죽주유소    서울 강남구 밤고개로 215 (율현동)   GS칼텍스  1687  1639  Y  강남구
4     오일프러스 셀프  서울 강남구 남부순환로 2651 (도곡동)   SK에너지  1704  1669  Y  강남구

In [76]:
df['구'].nunique(), df['구'].unique()

(25,
 array(['강남구', '강동구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구',
        '송파구', '양천구', '영등포구', '강북구', '용산구', '은평구', '종로구', '중구', '중랑구',
        '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구'], dtype=object))

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 15
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      441 non-null    object
 1   주소      441 non-null    object
 2   상표      441 non-null    object
 3   가격      441 non-null    int64
 4   경유      441 non-null    int64
 5   셀프      441 non-null    object
 6   구       441 non-null    object
dtypes: int64(2), object(5)
memory usage: 43.7+ KB

In [78]:
df['가격'].unique()

array([1623, 1669, 1684, 1687, 1704, 1725, 1729, 1739, 1745, 1749, 1754,
       1759, 1769, 1780, 1797, 1898, 1979, 1998, 2018, 2048, 2081, 2180,
       2207, 2228, 2246, 2258, 2270, 2275, 2348, 2578, 1686, 1689, 1696,
       1720, 1738, 1831, 1978, 1615, 1620, 1635, 1645, 1653, 1665, 1679,
       1685, 1698, 1715, 1718, 1735, 1748, 1790, 1639, 1719, 1747, 1789,
       1799, 1835, 1637, 1667, 1699, 1708, 1764, 1619, 1624, 1628, 1629,
       1633, 1638, 1659, 1675, 1695, 1709, 1728, 1594, 1678, 1681, 1697,
       1701, 1705, 1706, 1714, 1752, 1768, 1775, 1784, 1785, 1793, 1948,
       1989, 1625, 1654, 1694, 1746, 1788, 1792, 1962, 1965, 2135, 2148,
       1664, 1707, 1734, 1767, 1795, 1884, 1892, 1657, 1663, 1670, 1673,
       1677, 1682, 1688, 1713, 1848, 1595, 1605, 1649, 1658, 1778, 1779,
       1647, 1655, 1674, 1909, 2075, 2150, 2199, 1668, 1999, 2019, 2030,
       2039, 2173, 2175, 2237, 2398, 2749, 1604, 1607, 1609, 1614, 1617,
       1627, 2045, 2230, 2240, 1765, 1828, 1879, 2287, 2509, 2753, 1643,
       1644, 1656, 1676, 1680, 1690, 1693, 1737, 1758, 1895, 1995, 1756,
       1798, 1852, 1727, 1757, 2198, 1740], dtype=int64)

In [79]:
# 가격 정보가 없을 경우 제외 처리
df = df[df.가격 !='-']
df.가격 = df.가격.astype(int)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 15
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      441 non-null    object
 1   주소      441 non-null    object
 2   상표      441 non-null    object
 3   가격      441 non-null    int32
 4   경유      441 non-null    int64
 5   셀프      441 non-null    object
 6   구       441 non-null    object
dtypes: int32(1), int64(1), object(5)
memory usage: 25.8+ KB

In [81]:
# 저장하기
df.to_csv('data1/서울_주유소_230418.csv', index = False)

## 데이터 분석 및 시각화