ìœ íŠœë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„°: https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv

In [1]:
dataurl='https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'

In [2]:
import pandas as pd
df = pd.read_csv(dataurl)
df.head()

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

1.ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [3]:
df.groupby('channelTitle').size().sort_values(ascending=False)[0:10]

channelTitle
ì§¤íˆ°                       372
íŒŒë¿Œë¦¬                      318
SPOTV                    318
ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„          313
ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„    293
ì¥ì‚ì­ˆ                      283
BANGTANTV                275
ì±„ë„ ì‹­ì˜¤ì•¼                   274
ì´ê³¼ì¥                      258
ì´ëª‡ëª…                      255
dtype: int64

In [23]:
df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique()

array(['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
       'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV'],
      dtype=object)

In [4]:
list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())

['ì¥ì‚ì­ˆ',
 'ì´ëª‡ëª…',
 'íŒŒë¿Œë¦¬',
 'ì§¤íˆ°',
 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„',
 'SPOTV',
 'ì±„ë„ ì‹­ì˜¤ì•¼',
 'ì´ê³¼ì¥',
 'BANGTANTV']

2.ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [24]:
df[df['dislikes'] > df['likes']].channelTitle.unique()

array(['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang',
       'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
       'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports'], dtype=object)

In [26]:
df.loc[df.dislikes > df.likes].channelTitle.unique()

array(['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang',
       'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
       'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports'], dtype=object)

In [21]:
list(df.loc[df.dislikes > df.likes].channelTitle.unique())

['í•«ë„ê·¸TV',
 'ASMR ì• ì •TV',
 'í•˜ì–€íŠ¸ë¦¬HayanTree',
 'ì–‘íŒ¡ YangPang',
 'ì² êµ¬í˜• (CHULTUBE)',
 'ì™œëƒë§¨í•˜ìš°ìŠ¤',
 '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€',
 'ì˜¤ë©”í‚´TV',
 'ìœ¡ì§€ë‹´',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO',
 'Gen.G esports']

3. ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [27]:
df.channelId.nunique()

1770

In [28]:
df.channelTitle.nunique()

1832

In [33]:
(df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts() > 1).sum()

71

4. ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60399 entries, 0 to 60398
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      60399 non-null  int64
 1   title           60399 non-null  object
 2   channelTitle    60399 non-null  object
 3   categoryId      60399 non-null  int64
 4   view_count      60399 non-null  int64
 5   likes           60399 non-null  int64
 6   dislikes        60399 non-null  int64
 7   comment_count   60399 non-null  int64
 8   channelId       60399 non-null  object
 9   trending_date2  60399 non-null  object
dtypes: int64(6), object(4)
memory usage: 4.6+ MB

In [35]:
import datetime as dt

In [36]:
df.trending_date2 = df.trending_date2.astype('datetime64')

In [42]:
df[df.trending_date2.dt.day_name() == 'Sunday'].groupby('categoryId').size().sort_values(ascending = False).index[0]

24

In [45]:
df[df.trending_date2.dt.day_name() == 'Sunday'].categoryId.value_counts().index[0]

24

5. ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [53]:
df.groupby([df.trending_date2.dt.day_name(), 'categoryId'], as_index = False).size()

    trending_date2  categoryId  size
0           Friday           1   243
1           Friday           2   120
2           Friday          10   833
3           Friday          15   187
4           Friday          17   633
..             ...         ...   ...
100      Wednesday          25   468
101      Wednesday          26   385
102      Wednesday          27   212
103      Wednesday          28   165
104      Wednesday          29    12

[105 rows x 3 columns]

In [54]:
df.groupby([df.trending_date2.dt.day_name(), 'categoryId']).size()

trending_date2  categoryId
Friday          1             243
                2             120
                10            833
                15            187
                17            633
                             ...
Wednesday       25            468
                26            385
                27            212
                28            165
                29             12
Length: 105, dtype: int64

In [79]:
df.groupby([df.trending_date2.dt.day_name(), 'categoryId'], as_index = False).size().pivot('categoryId','trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

6.ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [90]:
df.head(2)

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01

In [94]:
(df.view_count - df.comment_count).sort_values(ascending = False).index[0]

30583

In [58]:
t = df.loc[df.view_count != 0]
t2 = t.copy()
t2['ratio'] = ( t['comment_count'] / t['view_count'] ).dropna()
t2.sort_values(by = 'ratio', ascending = False).iloc[0].title

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

7.ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [115]:
df.head(2)

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01

In [59]:
t3 = df.copy()
t3['ratio'] = ( t3['comment_count'] / t3['view_count'] ).dropna()
t3.loc[(t3.view_count !=0) & (t3.ratio !=0)].sort_values(by = 'ratio').iloc[0].title

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

8.like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [66]:
d = df.loc[(df.likes !=0) & (df.dislikes !=0)]
a = (d.dislikes / d.likes).dropna().sort_values()
df.iloc[a[a!=0].index[0]].title

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

9. ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [79]:
df.loc[df.channelId == df.channelId.value_counts().index[0]].channelTitle.unique()[0]

'ì§¤íˆ°'

10.20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

In [80]:
df.head(2)

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01

In [101]:
(df.groupby(['title','channelId']).size() >= 20).sum()

40

In [174]:
(df[['title','channelId']].value_counts()>=20).sum()

40

## ìœ íŠœë¸Œ ê³µë²”ì½˜í…ì¸  ë™ì˜ìƒ ë°ì´í„°

ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)

ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ â€œê³µë²”â€ ì»¨í…ì¸  ë™ì˜ìƒ ì •ë³´ ( 10ë¶„ ê°„ê²© ìˆ˜ì§‘)

In [102]:
dataurl1 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv' # ë¹„ë””ì˜¤ì •ë³´
dataurl2 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv' #ì°¸ê°€ì ì±„ë„ì •ë³´

In [104]:
channel = pd.read_csv(dataurl2)
video = pd.read_csv(dataurl1)

In [105]:
channel.head()

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

In [106]:
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

In [107]:
channel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1395 entries, 0 to 1394
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   channelid    1395 non-null   object
 1   subcnt       1395 non-null   int64
 2   viewcnt      1395 non-null   int64
 3   videocnt     1395 non-null   int64
 4   ct           1395 non-null   object
 5   channelname  1395 non-null   object
dtypes: int64(3), object(3)
memory usage: 65.5+ KB

In [108]:
video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15201 entries, 0 to 15200
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   videopk      15201 non-null  object
 1   viewcnt      15201 non-null  int64
 2   likecnt      15201 non-null  int64
 3   dislikecnt   15201 non-null  int64
 4   favoritecnt  15201 non-null  int64
 5   cmcnt        15201 non-null  int64
 6   ct           15201 non-null  object
 7   videoname    15201 non-null  object
dtypes: int64(5), object(3)
memory usage: 950.2+ KB

11. ê° ë°ì´í„°ì˜ â€˜ctâ€™ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

In [109]:
video['ct'] = video['ct'].astype('datetime64')
channel['ct'] = channel['ct'].astype('datetime64')

In [110]:
video.groupby('videoname').size()

videoname
 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
dtype: int64

12. ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

In [117]:
video.sort_values(['videoname','ct']).drop_duplicates('videoname', keep = 'last')[['videoname','ct','viewcnt']]

      videoname                  ct  viewcnt
3491     ê³µë²” EP1 2021-11-01 15:30:03  3180532
6695     ê³µë²” EP2 2021-11-01 15:30:03  2199328
9263     ê³µë²” EP3 2021-11-01 15:30:03  1671294
11543    ê³µë²” EP4 2021-11-01 15:30:03  1818493
13105    ê³µë²” EP5 2021-11-01 15:30:04  1503435
14934    ê³µë²” EP6 2021-11-01 15:30:04  1750222
13660    ê³µë²” EP7 2021-11-01 15:30:05  1630200
15200    ê³µë²” EP8 2021-11-01 15:30:05  1289088

In [118]:
video.sort_values(['videoname','ct']).drop_duplicates('videoname', keep = 'last')[['videoname','ct','viewcnt']].reset_index(drop=True)

  videoname                  ct  viewcnt
0    ê³µë²” EP1 2021-11-01 15:30:03  3180532
1    ê³µë²” EP2 2021-11-01 15:30:03  2199328
2    ê³µë²” EP3 2021-11-01 15:30:03  1671294
3    ê³µë²” EP4 2021-11-01 15:30:03  1818493
4    ê³µë²” EP5 2021-11-01 15:30:04  1503435
5    ê³µë²” EP6 2021-11-01 15:30:04  1750222
6    ê³µë²” EP7 2021-11-01 15:30:05  1630200
7    ê³µë²” EP8 2021-11-01 15:30:05  1289088

13. Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼

In [119]:
channel.head(2)

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹

In [131]:
channel.sort_values(['channelid','ct'])[channel.sort_values(['channelid','ct'])['ct'] >= '2021-10-03'].drop_duplicates('channelname', keep = 'first')[['channelname','subcnt','ct']]

          channelname   subcnt                  ct
393            ë…¼ë¦¬ì™• ì „ê¸°   922000 2021-10-03 03:01:02
139             ì•¼ì „ì‚½ì§±ì¬   257000 2021-10-03 03:01:02
774           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900 2021-10-03 03:01:03
1028      ë¦´í„ Lilpearl    10100 2021-10-03 03:01:03
647               ì¡°ë‚˜ë‹¨   215000 2021-10-03 03:01:03
901        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520 2021-10-03 03:01:03
1276    Balming Tiger    54300 2021-10-03 03:01:04
12                ê½ˆëšœë£¹  1330000 2021-10-03 03:01:04
520   ì™€ê¸€ì™€ê¸€ WagleWagle    55000 2021-10-03 03:01:03
266        ì¸„ì •ChuJeong   322000 2021-10-03 03:01:02
1155    ê³½í† ë¦¬ kwak tori   471000 2021-10-03 03:01:04

In [132]:
target = channel[channel.ct >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')
target[['channelname','subcnt']].reset_index(drop=True)

        channelname   subcnt
0            ë…¼ë¦¬ì™• ì „ê¸°   922000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2        ì¸„ì •ChuJeong   322000
3        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
4       ë¦´í„ Lilpearl    10100
5   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
6               ì¡°ë‚˜ë‹¨   215000
7           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
8     Balming Tiger    54300
9     ê³½í† ë¦¬ kwak tori   471000
10              ê½ˆëšœë£¹  1330000

14.ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

In [137]:
t = channel[(channel.ct >= '2021-10-03 03:00:00') & (channel.ct <= '2021-11-01 15:00:00')]

In [170]:
t

,channelid,subcnt,viewcnt,videocnt,ct,channelname
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,ê½ˆëšœë£¹
13,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 09:01:04,ê½ˆëšœë£¹
14,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 15:01:04,ê½ˆëšœë£¹
15,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 21:01:04,ê½ˆëšœë£¹
16,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-04 03:01:04,ê½ˆëšœë£¹
...,...,...,...,...,...,...
1389,UCbBzKnCYcG7E3EIkSTdsawA,56700,7516365,57,2021-10-31 09:01:04,Balming Tiger
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger

In [156]:
inc = []
for i in range(0, len(t.channelname.unique())):
    oc = t[t.channelname == t.channelname.unique()[i]].iloc[0].subcnt
    nov = t[t.channelname == t.channelname.unique()[i]].iloc[-1].subcnt
    inc.append(nov - oc)

In [169]:
pd.DataFrame(list(zip(t.channelname.unique(), inc)), columns = ['channelname','subcntì¦ê°€ëŸ‰'])

        channelname  subcntì¦ê°€ëŸ‰
0               ê½ˆëšœë£¹      70000
1             ì•¼ì „ì‚½ì§±ì¬      11000
2        ì¸„ì •ChuJeong       1000
3            ë…¼ë¦¬ì™• ì „ê¸°     -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle          0
5               ì¡°ë‚˜ë‹¨      12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤      10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶       1540
8       ë¦´í„ Lilpearl      11000
9     ê³½í† ë¦¬ kwak tori      -2000
10    Balming Tiger       2500

**datetime ì˜ 2ê°€ì§€ íƒ€ì… strftime vs strptime

strftime : STRing Format Time  ë¬¸ìì—´ë¡œ ì¶”ì¶œ

strptime : STRing Parse Time  datatime íƒ€ì…ìœ¼ë¡œ ì¶”ì¶œ

https://ctkim.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-datetime-%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC-%EA%B0%80%EC%9E%A5-%EB%A7%8E%EC%9D%B4-%EC%82%AC%EC%9A%A9%ED%95%98%EB%8A%94-%ED%95%A8%EC%88%98#:~:text=datetime.datetime.strptime%EB%8A%94%20%EB%AC%B8%EC%9E%90%EC%97%B4,parse%20time%22%EC%9D%98%20%EC%95%BD%EC%9E%90%EC%9E%85%EB%8B%88%EB%8B%A4.

15.ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [178]:
video.head(2)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1

In [190]:
video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15201 entries, 0 to 15200
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   videopk      15201 non-null  object
 1   viewcnt      15201 non-null  int64
 2   likecnt      15201 non-null  int64
 3   dislikecnt   15201 non-null  int64
 4   favoritecnt  15201 non-null  int64
 5   cmcnt        15201 non-null  int64
 6   ct           15201 non-null  datetime64[ns]
 7   videoname    15201 non-null  object
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 950.2+ KB

In [226]:
gong1 = video[video['videoname'] == video['videoname'][0]]
gong1

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,ê³µë²” EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,ê³µë²” EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,ê³µë²” EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,ê³µë²” EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1

In [207]:
(gong1.ct[1] - gong1.ct[0] <= dt.timedelta(minutes = 5) ) | (gong1.ct[1] - gong1.ct[0] >= dt.timedelta(minutes = 20) )

False

In [229]:
ct_diff = [False]
for i in range(0, len(gong1)):
    try:
        diff = gong1.ct[i+1] - gong1.ct[i]
        ct_dif = (diff <= dt.timedelta(minutes = 5) ) | (diff >= dt.timedelta(minutes = 20)) 
        ct_diff.append(ct_dif)
    except:
        pass
ct_diff

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 ...]

In [230]:
len(ct_diff), len(gong1)

(3492, 3492)

In [231]:
gong1[ct_diff]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
418,c5JQp6xafqc,1700233,30747,716,0,6632,2021-10-10 17:00:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

In [233]:
gong1.iloc[[9,10,417,418,720,721,722,1635,1636]]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
9,c5JQp6xafqc,1697079,30724,717,0,6621,2021-10-10 16:50:03,ê³µë²” EP1
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
417,c5JQp6xafqc,1663790,30454,703,0,6581,2021-10-10 15:10:03,ê³µë²” EP1
418,c5JQp6xafqc,1700233,30747,716,0,6632,2021-10-10 17:00:03,ê³µë²” EP1
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

In [236]:
gong1_ecpt = gong1.sort_values('ct').reset_index(drop = True)
gong1_ecpt

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,ê³µë²” EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,ê³µë²” EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,ê³µë²” EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,ê³µë²” EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,ê³µë²” EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,ê³µë²” EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,ê³µë²” EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1

In [240]:
gong1_ecpt[ ( gong1_ecpt.ct.diff(1) >= dt.timedelta(minutes = 20) ) | 
          ( gong1_ecpt.ct.diff(1) <= dt.timedelta(minutes = 5) ) ]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

In [245]:
gong1_ecpt[ gong1_ecpt.index.isin([720,721,722,1635,1636]) ]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

16. ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [246]:
video.head(2)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1

In [247]:
video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15201 entries, 0 to 15200
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   videopk      15201 non-null  object
 1   viewcnt      15201 non-null  int64
 2   likecnt      15201 non-null  int64
 3   dislikecnt   15201 non-null  int64
 4   favoritecnt  15201 non-null  int64
 5   cmcnt        15201 non-null  int64
 6   ct           15201 non-null  datetime64[ns]
 7   videoname    15201 non-null  object
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 950.2+ KB

In [268]:
d = video[['videoname','ct']].sort_values('ct', ascending = True).drop_duplicates('videoname')
d.ct = d.ct.dt.date
d

      videoname          ct
10       ê³µë²” EP1  2021-10-07
3496     ê³µë²” EP2  2021-10-09
6696     ê³µë²” EP3  2021-10-14
9264     ê³µë²” EP4  2021-10-16
11544    ê³µë²” EP5  2021-10-21
13661    ê³µë²” EP6  2021-10-23
13106    ê³µë²” EP7  2021-10-28
14935    ê³µë²” EP8  2021-10-30

In [267]:
pd.concat([video.videoname, video.ct.dt.date], axis = 1).sort_values('ct').drop_duplicates('videoname', keep = 'first')

      videoname          ct
32       ê³µë²” EP1  2021-10-07
3507     ê³µë²” EP2  2021-10-09
6723     ê³µë²” EP3  2021-10-14
9264     ê³µë²” EP4  2021-10-16
11571    ê³µë²” EP5  2021-10-21
13687    ê³µë²” EP6  2021-10-23
13134    ê³µë²” EP7  2021-10-28
14956    ê³µë²” EP8  2021-10-30

In [272]:
s = video.sort_values(['ct','videoname']).drop_duplicates('videoname')[['ct','videoname']]
s['date'] = s.ct.dt.date
s[['videoname','date']]

      videoname        date
10       ê³µë²” EP1  2021-10-07
3496     ê³µë²” EP2  2021-10-09
6696     ê³µë²” EP3  2021-10-14
9264     ê³µë²” EP4  2021-10-16
11544    ê³µë²” EP5  2021-10-21
13661    ê³µë²” EP6  2021-10-23
13106    ê³µë²” EP7  2021-10-28
14935    ê³µë²” EP8  2021-10-30

17.â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

In [273]:
video.head(2)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1

In [321]:
vs = video.copy()

In [322]:
vs[vs.ct.dt.hour == 21].drop_duplicates(['videoname','videopk']).sort_values('viewcnt',ascending = False)[['videoname','ct','viewcnt']]

      videoname                  ct  viewcnt
14945    ê³µë²” EP8 2021-10-30 21:00:08   264029
13117    ê³µë²” EP7 2021-10-28 21:00:04   252032
9275     ê³µë²” EP4 2021-10-16 21:00:04   217674
13672    ê³µë²” EP6 2021-10-23 21:00:06   213899
11555    ê³µë²” EP5 2021-10-21 21:00:04   201179
3507     ê³µë²” EP2 2021-10-09 21:00:03   148144
6707     ê³µë²” EP3 2021-10-14 21:00:04   147183
21       ê³µë²” EP1 2021-10-07 21:00:03   117340

In [324]:
video.loc[video.ct.dt.hour ==21].sort_values(['videoname','ct']).drop_duplicates('videoname')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
21,c5JQp6xafqc,117340,6032,69,0,1409,2021-10-07 21:00:03,ê³µë²” EP1
3507,23QQ1ru9YQg,148144,6039,122,0,2127,2021-10-09 21:00:03,ê³µë²” EP2
6707,GygoAk1hDU0,147183,5839,76,0,3105,2021-10-14 21:00:04,ê³µë²” EP3
9275,bK0_3Vbfvs8,217674,7854,82,0,5029,2021-10-16 21:00:04,ê³µë²” EP4
11555,hv7FBjskAu0,201179,6897,105,0,4283,2021-10-21 21:00:04,ê³µë²” EP5
13672,AxGKHmXyuAE,213899,8259,79,0,4325,2021-10-23 21:00:06,ê³µë²” EP6
13117,QUjQbgj5IXM,252032,11111,90,0,6395,2021-10-28 21:00:04,ê³µë²” EP7
14945,yZt-h-KcmUE,264029,11598,1438,0,13292,2021-10-30 21:00:08,ê³µë²” EP8