In [465]:
import pandas as pd
import datetime as dt

## 전세계 행복도 지표 데이터

데이터 출처 :https://www.kaggle.com/unsdsn/world-happiness(참고, 데이터 수정)
데이터 설명 : 전세계 행복도 지표 조사

In [107]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv'
df = pd.read_csv(url)
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

41.데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [4]:
df[df.행복랭킹 ==10 ]['점수'].mean()

7.259

42.데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [110]:
df [ df.행복랭킹 <= 50 ][['년도','점수']].groupby('년도').mean()

           점수
년도
2018  6.64678
2019  6.67002

43.2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [6]:
df[df.년도 == 2018][['점수','부패에 대한인식']].corr().iloc[0,1]

0.40529152271510027

44.2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [7]:
( df.groupby(['행복랭킹','나라명']).size() == 2 ).sum()

15

In [8]:
len(df[['행복랭킹','나라명']]) - len(df[['행복랭킹','나라명']].drop_duplicates())

15

45.2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [249]:
df[df.년도 == 2019].corr().iloc[0,1:-1].sort_values()

점수         -0.989096
상대GDP      -0.801947
행복기대치      -0.787411
사회적지원      -0.767465
선택의 자유도    -0.546606
부패에 대한인식   -0.351959
관대함        -0.047993
Name: 행복랭킹, dtype: float64

In [119]:
zz = df[df.년도 == 2019].corr().unstack().to_frame().reset_index().dropna()
zz[zz[0] != 1].sort_values(0, ascending = False).head(5)

   level_0 level_1         0
38   행복기대치   상대GDP  0.835462
22   상대GDP   행복기대치  0.835462
19   상대GDP      점수  0.793883
11      점수   상대GDP  0.793883
37   행복기대치      점수  0.779883

In [260]:
z = df[df.년도 == 2019].corr().unstack().to_frame().reset_index().dropna()
z1 = z[z[0] != 1].sort_values(0, ascending = False).drop_duplicates(0).head(5).reset_index(drop=True)
z1.columns = ['v1','v2','corr']
z1

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP     점수  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  사회적지원  상대GDP  0.754906

46.각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [125]:
df.groupby('년도').tail(5).groupby('년도').mean()[['점수']]

          점수
년도
2018  3.1800
2019  3.1408

47. 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [284]:
df[df.년도 == 2019][df[df.년도 == 2019].상대GDP >= df[df.년도 == 2019].상대GDP.mean()]['점수'].mean() - df[df.년도 == 2019][ df[df.년도 == 2019].상대GDP <= df[df.년도 == 2019].상대GDP.mean()]['점수'].mean()

1.390483957219251

In [126]:
df[df.년도 == 2019][df[df.년도 == 2019].상대GDP > df[df.년도 == 2019].상대GDP.mean()]['점수'].mean() - df[df.년도 == 2019][ df[df.년도 == 2019].상대GDP < df[df.년도 == 2019].상대GDP.mean()]['점수'].mean()

1.390483957219251

In [285]:
df[ df.상대GDP >= df.상대GDP.mean()]['점수'].mean() - df[ df.상대GDP <= df.상대GDP.mean()]['점수'].mean()

1.4212148925537234

48.각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [305]:
df.sort_values(['년도','부패에 대한인식'],ascending = False).groupby('년도').head(20).groupby('년도').mean()['부패에 대한인식']

년도
2018    0.3267
2019    0.3201
Name: 부패에 대한인식, dtype: float64

49.2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [140]:
50-df[ df['행복랭킹'] <=50 ]['나라명'].duplicated().sum()

4

In [136]:
(set(df[df.년도 == 2018][df[df.년도 == 2018]['행복랭킹'] <= 50]['나라명']) - set(df[df.년도 == 2019][df[df.년도 == 2019]['행복랭킹'] <= 50]['나라명']))

{'Belize', 'Kuwait', 'Malaysia', 'Thailand'}

In [322]:
50 - df[df['행복랭킹'] <= 50]['나라명'].duplicated().sum()

4

In [323]:
set(df[(df.년도==2018) & (df.행복랭킹 <=50)].나라명) - set(df[(df.년도==2019) & (df.행복랭킹 <=50)].나라명)

{'Belize', 'Kuwait', 'Malaysia', 'Thailand'}

50. 2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [189]:
df2 =df.copy()
multiple = df2[df2.나라명.isin(ctry)].reset_index(drop=True)

In [200]:
multiple.loc[multiple['년도']==2018, '점수'] = multiple[multiple['년도']==2018]['점수'].values * (-1)

In [205]:
multiple.loc[multiple['년도']==2018, '점수']

152   -7.632
153   -7.594
154   -7.555
155   -7.495
156   -7.487
       ...
299   -3.355
300   -3.303
301   -3.254
302   -3.083
303   -2.905
Name: 점수, Length: 152, dtype: float64

In [204]:
multiple[multiple['년도']==2018]['점수'].values * (-1)

array([7.632, 7.594, 7.555, 7.495, 7.487, 7.441, 7.328, 7.324, 7.314,
       7.272, 7.19 , 7.139, 7.072, 6.977, 6.965, 6.927, 6.91 , 6.886,
       6.814, 6.774, 6.711, 6.627, 6.489, 6.488, 6.476, 6.441, 6.43 ,
       6.419, 6.388, 6.382, 6.379, 6.374, 6.371, 6.343, 6.322, 6.31 ,
       6.26 , 6.192, 6.173, 6.167, 6.141, 6.123, 6.105, 6.096, 6.083,
       6.072, 6.   , 5.973, 5.952, 5.948, 5.945, 5.933, 5.915, 5.891,
       5.89 , 5.875, 5.835, 5.81 , 5.79 , 5.762, 5.752, 5.739, 5.681,
       5.663, 5.662, 5.64 , 5.636, 5.62 , 5.566, 5.524, 5.504, 5.483,
       5.483, 5.472, 5.43 , 5.41 , 5.398, 5.358, 5.358, 5.347, 5.321,
       5.302, 5.295, 5.254, 5.246, 5.201, 5.199, 5.161, 5.155, 5.131,
       5.129, 5.125, 5.103, 5.093, 5.082, 4.982, 4.975, 4.933, 4.88 ,
       4.806, 4.758, 4.743, 4.724, 4.707, 4.671, 4.657, 4.631, 4.623,
       4.592, 4.586, 4.571, 4.559, 4.5  , 4.471, 4.456, 4.447, 4.441,
       4.433, 4.424, 4.419, 4.417, 4.41 , 4.377, 4.356, 4.35 , 4.34 ,
       4.321, 4.308, 4.301, 4.245, 4.19 , 4.166, 4.161, 4.141, 4.103,
       3.999, 3.964, 3.808, 3.774, 3.692, 3.632, 3.59 , 3.587, 3.582,
       3.495, 3.462, 3.408, 3.355, 3.303, 3.254, 3.083, 2.905])

In [203]:
multiple.groupby('나라명').sum()['점수'].sort_values().to_frame().iloc[-1]

점수    0.87
Name: Burundi, dtype: float64

In [149]:
df.나라명.value_counts()[df.나라명.value_counts() >= 2].index

Index(['Finland', 'Albania', 'Nepal', 'Jordan', 'Benin', 'Congo (Brazzaville)',
       'Gabon', 'Laos', 'South Africa', 'Venezuela',
       ...
       'Kosovo', 'Romania', 'Cyprus', 'Argentina', 'Kuwait', 'Thailand',
       'Latvia', 'South Korea', 'Estonia', 'Jamaica'],
      dtype='object', length=152)

In [156]:
ctry = df.나라명.value_counts() [df.나라명.value_counts() >= 2 ].index

In [222]:
ctrs = df[df.나라명.isin(ctry)]
ctrs.loc[ctrs.년도==2018,'점수'] = ctrs[ctrs.년도 == 2018]['점수'].values * (-1)

In [234]:
ctrs.groupby('나라명').sum().sort_values('점수',ascending = False)['점수'].to_frame().iloc[0]

점수    0.87
Name: Burundi, dtype: float64

## 지역구 에너지 소비량 데이터

데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Power+consumption+of+Tetouan+city (참고, 데이터 수정)
데이터 설명 : 기온, 습도,바람풍속에 따른 도시의 3개 지역구의 에너지 소비량

In [235]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv'

In [236]:
df= pd.read_csv(url)
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

51. DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

In [237]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DateTime                   52416 non-null  object
 1   Temperature                52416 non-null  float64
 2   Humidity                   52416 non-null  float64
 3   Wind Speed                 52416 non-null  float64
 4   general diffuse flows      52416 non-null  float64
 5   diffuse flows              52416 non-null  float64
 6   Zone 1 Power Consumption   52416 non-null  float64
 7   Zone 2  Power Consumption  52416 non-null  float64
 8   Zone 3  Power Consumption  52416 non-null  float64
dtypes: float64(8), object(1)
memory usage: 3.6+ MB

In [238]:
df.DateTime = df.DateTime.astype('datetime64')

In [239]:
df.DateTime.dt.month.value_counts().sort_index().to_frame()

    DateTime
1       4464
2       4032
3       4464
4       4320
5       4464
6       4320
7       4464
8       4464
9       4320
10      4464
11      4320
12      4320

52. 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

In [59]:
df[df.DateTime.dt.month == 3].groupby(df.DateTime.dt.hour)['Temperature'].mean().sort_values().values[0]

11.506612903225806

53. 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라

In [53]:
df[df.DateTime.dt.month == 3][['DateTime','Temperature']].groupby(df.DateTime.dt.hour).mean().sort_values('Temperature',ascending = False).iloc[0]

Temperature    18.393602
Name: 15, dtype: float64

In [58]:
df[df.DateTime.dt.month == 3].groupby(df.DateTime.dt.hour)['Temperature'].mean().sort_values().values[-1]

18.393602150537635

54. Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DateTime                   52416 non-null  object
 1   Temperature                52416 non-null  float64
 2   Humidity                   52416 non-null  float64
 3   Wind Speed                 52416 non-null  float64
 4   general diffuse flows      52416 non-null  float64
 5   diffuse flows              52416 non-null  float64
 6   Zone 1 Power Consumption   52416 non-null  float64
 7   Zone 2  Power Consumption  52416 non-null  float64
 8   Zone 3  Power Consumption  52416 non-null  float64
dtypes: float64(8), object(1)
memory usage: 3.6+ MB

In [86]:
df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']].Humidity.mean()

68.23624448055052

55.각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라

In [90]:
df[['Zone 1 Power Consumption', 'Zone 2  Power Consumption', 'Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

56.Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

In [95]:
df.Temperature.apply(lambda x: 'A' if x < 10 else ('B' if (x >= 10) & (x < 20) else ('C' if (x >= 20) & (x < 30) else 'D'))).value_counts()

B    26993
C    21105
A     2874
D     1444
Name: Temperature, dtype: int64

57.6월 데이터중 12시의 Temperature의 표준편차를 구하여라

In [245]:
df [ df.DateTime.dt.month == 6 ] [df.DateTime.dt.hour == 12]['Temperature'].std()

C:\Users\User\AppData\Local\Temp\ipykernel_14664\948570630.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df [ df.DateTime.dt.month == 6 ] [df.DateTime.dt.hour == 12]['Temperature'].std()

2.0499417827951025

58.6월 데이터중 12시의 Temperature의 분산을 구하여라

In [246]:
df [ df.DateTime.dt.month == 6 ] [df.DateTime.dt.hour == 12]['Temperature'].var()

C:\Users\User\AppData\Local\Temp\ipykernel_14664\1860527923.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df [ df.DateTime.dt.month == 6 ] [df.DateTime.dt.hour == 12]['Temperature'].var()

4.202261312849163

59.Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [251]:
df[df.Temperature >= df.Temperature.mean()].sort_values('Temperature').reset_index().iloc[3].Humidity

87.9

In [253]:
df[df.Temperature >= df.Temperature.mean()].sort_values('Temperature').Humidity.values[3]

87.9

60.**Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [255]:
df[df.Temperature >= df.Temperature.median()].sort_values('Temperature').Humidity.values[3]

80.3

## 포켓몬 정보 데이터
데이터 출처 : https://www.kaggle.com/abcsds/pokemon (참고, 데이터 수정)
데이터 설명 : 포켓몬 정보

In [256]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv'
df = pd.read_csv(url)

In [257]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

61.Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [263]:
df[df.Legendary == True].HP.mean() - df[df.Legendary == False].HP.mean()

25.55614861329147

In [265]:
df.groupby('Legendary').mean()['HP']

Legendary
False    67.182313
True     92.738462
Name: HP, dtype: float64

In [266]:
df.groupby('Legendary').mean()['HP'].values[1] - df.groupby('Legendary').mean()['HP'].values[0]

25.55614861329147

62.Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [273]:
df.groupby('Type 2').size().sort_values().index[-1]

'Flying'

In [275]:
df['Type 2'].value_counts().index[0]

'Flying'

63.가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [281]:
(df [ df['Type 1'] == df['Type 1'].value_counts().index[0] ][['Attack','Defense']].mean().values[0]) / (df [ df['Type 1'] == df['Type 1'].value_counts().index[0] ][['Attack','Defense']].mean().values[1])

1.0165238678090576

64.포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [306]:
df [ df.Legendary == True ].groupby('Generation')['Legendary'].value_counts().sort_values(ascending = False).index[0]

(3, True)

In [311]:
df [ df.Legendary == True ].Generation.value_counts().index[0]

3

65.‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [312]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [325]:
df[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']].corr().abs().unstack().sort_values(ascending = False)

HP       HP         1.000000
Attack   Attack     1.000000
Sp. Def  Sp. Def    1.000000
Sp. Atk  Sp. Atk    1.000000
Defense  Defense    1.000000
Speed    Speed      1.000000
Defense  Sp. Def    0.510747
Sp. Def  Defense    0.510747
Sp. Atk  Sp. Def    0.506121
Sp. Def  Sp. Atk    0.506121
Speed    Sp. Atk    0.473018
Sp. Atk  Speed      0.473018
Attack   Defense    0.438687
Defense  Attack     0.438687
Attack   HP         0.422386
HP       Attack     0.422386
Attack   Sp. Atk    0.396362
Sp. Atk  Attack     0.396362
Attack   Speed      0.381240
Speed    Attack     0.381240
HP       Sp. Def    0.378718
Sp. Def  HP         0.378718
HP       Sp. Atk    0.362380
Sp. Atk  HP         0.362380
Sp. Def  Attack     0.263990
Attack   Sp. Def    0.263990
Sp. Def  Speed      0.259133
Speed    Sp. Def    0.259133
HP       Defense    0.239622
Defense  HP         0.239622
Sp. Atk  Defense    0.223549
Defense  Sp. Atk    0.223549
HP       Speed      0.175952
Speed    HP         0.175952
Defense  Speed      0.015227
Speed    Defense    0.015227
dtype: float64

In [329]:
target = df[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']].corr().abs().unstack().reset_index().rename(columns = {0: 'corr'})
target.head(3)

  level_0  level_1      corr
0      HP       HP  1.000000
1      HP   Attack  0.422386
2      HP  Defense  0.239622

In [332]:
target[target['corr'] != 1].sort_values('corr',ascending = False).iloc[0]

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

66.각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [343]:
df[['Generation','Attack']].sort_values(['Generation','Attack'],ascending = True).groupby('Generation').head(3).mean()['Attack']

19.5

In [346]:
df.sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()

19.5

67.각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [347]:
df.sort_values(['Generation','Attack'],ascending = False).groupby('Generation').head(5).Attack.mean()

157.23333333333332

68.가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [355]:
df.groupby(['Type 1','Type 2']).size().sort_values(ascending = False).head(1)

Type 1  Type 2
Normal  Flying    24
dtype: int64

In [354]:
df[['Type 1','Type 2']].value_counts().head(1)

Type 1  Type 2
Normal  Flying    24
dtype: int64

69.한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [368]:
df[['Type 1','Type 2']].value_counts().value_counts().values[1]

39

In [373]:
df[['Type 1','Type 2']].value_counts() [df[['Type 1','Type 2']].value_counts() == 1].count()

39

In [376]:
t = df[['Type 1','Type 2']].value_counts()
len(t[t==1])

39

70.한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [386]:
df[['Type 1','Type 2']].value_counts() [df[['Type 1','Type 2']].value_counts() == 1]

Type 1    Type 2
Electric  Grass       1
Steel     Dragon      1
Electric  Ice         1
Steel     Fighting    1
          Flying      1
Electric  Fairy       1
          Ghost       1
          Fire        1
Bug       Water       1
Electric  Dragon      1
Dragon    Fire        1
Bug       Ghost       1
Dragon    Fairy       1
          Electric    1
Ground    Steel       1
Rock      Fighting    1
Electric  Water       1
Psychic   Dark        1
Ground    Fire        1
          Electric    1
Normal    Ground      1
Grass     Ground      1
Normal    Water       1
Poison    Bug         1
          Dragon      1
Grass     Dragon      1
Poison    Water       1
Ghost     Dark        1
Fighting  Dark        1
Psychic   Fire        1
Fire      Water       1
Psychic   Ghost       1
          Grass       1
Fire      Steel       1
          Rock        1
Ice       Ghost       1
Fire      Dragon      1
Fighting  Flying      1
Water     Steel       1
dtype: int64

In [401]:
df[['Generation','Type 1','Type 2']].value_counts() [df[['Generation','Type 1','Type 2']].value_counts() == 1].groupby('Generation').size()

Generation
1    10
2    20
3    12
4    30
5    12
6    17
dtype: int64

In [410]:
ss = df[['Type 1','Type 2']].value_counts() [df[['Type 1','Type 2']].value_counts() == 1]
ss.reset_index()

In [426]:
ss.reset_index().values[0]

array(['Electric', 'Grass', 1], dtype=object)

In [430]:
df['Type 1'] == ss.reset_index().values[0][0]

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Type 1, Length: 800, dtype: bool

In [415]:
lst = []
for value in ss.reset_index().values:
    s1 = value[0]
    s2 = value[1]
    sp = df[(df['Type 1']==s1) & (df['Type 2']==s2)]
    lst.append(sp)
pd.concat(lst).reset_index().Generation.value_counts().sort_index()

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64

In [434]:
sss = df[['Type 1','Type 2']].value_counts() [df[['Type 1','Type 2']].value_counts() == 1].reset_index()

In [443]:
Lst = []
for i in sss.values:
    l1 = i[0]
    l2 = i[1]
    lt = df[(df['Type 1'] == l1) & (df['Type 2'] == l2) ]
    Lst.append(lt)

In [445]:
pd.concat(Lst).reset_index().Generation.value_counts().sort_index()

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64

## 대한민국 체력장 데이터

데이터 출처 : 국민체육진흥공단 (문화 빅데이터플랫폼) (참고, 데이터 수정)

데이터 설명 : 대한민국 국민 체력장 평가

In [466]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv'
df = pd.read_csv(url)
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

71.전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라

In [467]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13396 entries, 0 to 13395
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   측정나이              13396 non-null  float64
 1   측정회원성별            13396 non-null  object
 2   신장 : cm           13396 non-null  float64
 3   체중 : kg           13396 non-null  float64
 4   체지방율 : %          13396 non-null  float64
 5   이완기혈압(최저) : mmHg  13396 non-null  float64
 6   수축기혈압(최고) : mmHg  13396 non-null  float64
 7   악력D : kg          13396 non-null  float64
 8   앉아윗몸앞으로굽히기 : cm   13396 non-null  float64
 9   교차윗몸일으키기 : 회      13396 non-null  float64
 10  제자리 멀리뛰기 : cm     13396 non-null  float64
 11  등급                13396 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

In [468]:
(df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()

52.19539414750672

72.50~59세의 신장평균을 구하여라

In [469]:
df [ ( df.측정나이 >= 50 ) & ( df.측정나이 <= 59 ) ]['신장 : cm'].mean()

164.07490107405314

73.연령대 (20~29 : 20대 …) 별 인원수를 구하여라

In [473]:
df['연령대'] = df.측정나이.apply(lambda x: '20대' if (x>=20)& (x<30) else ('30대' if (x>=30) & (x<40) else ('40대' if (x>=40) & (x<50) else ('50대' if (x>=50) & (x<60) else ('60대')))))
df.groupby('연령대').size()

연령대
20대    5831
30대    2660
40대    1801
50대    1769
60대    1335
dtype: int64

In [471]:
df['연령대'] = df.측정나이 // 10 *10
df.연령대.value_counts()

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: 연령대, dtype: int64

74.연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라

In [474]:
df.groupby(['연령대','등급']).size().to_frame('size')

        size
연령대 등급
20대 A   1585
    B   1443
    C   1455
    D   1348
30대 A    743
    B    697
    C    626
    D    594
40대 A    386
    B    428
    C    455
    D    532
50대 A    321
    B    410
    C    474
    D    564
60대 A    314
    B    371
    C    339
    D    311

75.남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [488]:
df[(df.측정회원성별 == 'M')][['등급','체지방율 : %']].groupby('등급')['체지방율 : %'].mean().max() - df[(df.측정회원성별 == 'M')][['등급','체지방율 : %']].groupby('등급')['체지방율 : %'].mean().min()

7.932086486137521

In [497]:
abs(df[(df.측정회원성별 == 'M') & (df.등급 == 'A')].loc[:,'체지방율 : %'].mean() -df[(df.측정회원성별 == 'M') & (df.등급 == 'D')].loc[:,'체지방율 : %'].mean())

7.932086486137521

76.여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [499]:
abs(df[(df.측정회원성별 == 'F') & (df.등급 == 'A')].loc[:,'체중 : kg'].mean() -df[(df.측정회원성별 == 'F') & (df.등급 == 'D')].loc[:,'체중 : kg'].mean())

5.176211590296504

77.bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라

In [500]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13396 entries, 0 to 13395
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   측정나이              13396 non-null  float64
 1   측정회원성별            13396 non-null  object
 2   신장 : cm           13396 non-null  float64
 3   체중 : kg           13396 non-null  float64
 4   체지방율 : %          13396 non-null  float64
 5   이완기혈압(최저) : mmHg  13396 non-null  float64
 6   수축기혈압(최고) : mmHg  13396 non-null  float64
 7   악력D : kg          13396 non-null  float64
 8   앉아윗몸앞으로굽히기 : cm   13396 non-null  float64
 9   교차윗몸일으키기 : 회      13396 non-null  float64
 10  제자리 멀리뛰기 : cm     13396 non-null  float64
 11  등급                13396 non-null  object
 12  연령대               13396 non-null  object
dtypes: float64(10), object(3)
memory usage: 1.3+ MB

In [501]:
df['BMI'] = df['체중 : kg'] / ((df['신장 : cm']/100)**2)

In [502]:
df[df.측정회원성별 == 'M'].BMI.mean()

24.46134409819308

78.bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라

In [504]:
df[df['체지방율 : %'] > df.BMI]['체중 : kg'].mean()

61.7408806392542

79.남성과 여성의 악력 평균의 차이를 구하여라

In [509]:
abs(df[['측정회원성별','악력D : kg']].groupby('측정회원성별')['악력D : kg'].mean()[1] - df[['측정회원성별','악력D : kg']].groupby('측정회원성별')['악력D : kg'].mean()[0])

17.55954185047465

In [512]:
df.groupby('측정회원성별')['악력D : kg'].mean().M - df.groupby('측정회원성별')['악력D : kg'].mean().F

17.55954185047465

80.남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라

In [514]:
df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean().M - df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean().F

14.243156833157627

## 기온 강수량 데이터

데이터 출처 : https://data.kma.go.kr/cmmn/static/staticPage.do?page=intro

데이터 설명 : 2020년도 이화동(서울) , 수영동(부산)의 시간단위의 기온과 강수량

In [515]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv'
df = pd.read_csv(url)
df.head()

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

81.여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가?

In [516]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    8784 non-null   object
 1   이화동강수   8784 non-null   float64
 2   이화동기온   8784 non-null   float64
 3   수영동강수   8784 non-null   float64
 4   수영동기온   8784 non-null   float64
dtypes: float64(4), object(1)
memory usage: 343.2+ KB

In [517]:
df.time = df.time.astype("datetime64")

In [527]:
df[df.time.dt.month.isin([6,7,8])].loc[df.이화동기온 > df.수영동기온].groupby(df.time.dt.hour).size().sum()

1415

82.이화동과 수영동의 최대강수량의 시간대를 각각 구하여라

In [534]:
df[df.이화동강수 == df.이화동강수.max()].time, df[df.수영동강수 == df.수영동강수.max()].time

(6561   2020-09-30 09:00:00
 Name: time, dtype: datetime64[ns],
 4908   2020-07-23 12:00:00
 Name: time, dtype: datetime64[ns])

In [535]:
print(df[df.이화동강수 == df.이화동강수.max()].time.values)
print(df[df.수영동강수 == df.수영동강수.max()].time.values)

['2020-09-30T09:00:00.000000000']
['2020-07-23T12:00:00.000000000']