In [1]:
import sqlite3
print(sqlite3.sqlite_version_info)

(3, 35, 5)

In [11]:
try:
    conn = sqlite3.connect('Data/sqlite_fruit_db')
    cursor = conn.cursor()
    
    # (1) 테이블 생성
    sql = """create table if not exists fruits(
    code integer primary key,
    name text(30) unique not null,
    num integer default 0,
    price integer default 0
    )"""
    cursor.execute(sql)
    
    # (2) 레코드 추가
    cursor.execute("insert into fruits values(1, 'Apple', 3, 3000)")
    cursor.execute("insert into fruits values(2, 'Orange', 2, 5000)")
    cursor.execute("insert into fruits(code, name) values(3, 'Strawberry')")
    cursor.execute("insert into fruits(code, name, price) values(4, 'Melon', 20000)")
    conn.commit()
    
    # (3) 레코드 조회
    sql = "select * from fruits"
    cursor.execute(sql)
    rows = cursor.fetchall()
    print(rows)
    
except Exception as e:
    print("DB연동 ERROR: ", e)
    conn.rollback()

finally:
    cursor.close()   
    conn.close()

[(1, 'Apple', 3, 3000), (2, 'Orange', 2, 5000), (3, 'Strawberry', 0, 0), (4, 'Melon', 0, 20000)]

### 레코드 조회

In [18]:
try:
    conn = sqlite3.connect('Data/sqlite_fruit_db')
    cursor = conn.cursor()
    
    # (3) 레코드 조회
    sql = "select * from fruits"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    for row in rows:
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수: ', len(rows))
    
    # (4) 상품명 조회
    name = input('\n상품명 입력: ')
    sql = f"select * from fruits where name like '%{name}%'"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    if rows:
        for row in rows:
            print(row)
    else:
        print("검색된 레코드 없음")
    
except Exception as e:
    print("DB연동 ERROR: ", e)
    conn.rollback()

finally:
    cursor.close()   
    conn.close()

1 Apple 3 3000
2 Orange 2 5000
3 Strawberry 0 0
4 Melon 0 20000
6 Banana 5 4000
검색된 레코드 수:  5

상품명 입력:
(1, 'Apple', 3, 3000)
(2, 'Orange', 2, 5000)
(3, 'Strawberry', 0, 0)
(4, 'Melon', 0, 20000)
(6, 'Banana', 5, 4000)

### 레코드 추가

In [16]:
try:
    conn = sqlite3.connect('Data/sqlite_fruit_db')
    cursor = conn.cursor()
    
    # (5) 레코드 추가
    code = int(input('code 입력: '))
    name = input('name 입력: ')
    num = int(input('갯수 입력: '))
    price = int(input('가격 입력: '))
    
    sql = f"insert into fruits values({code}, '{name}', {num}, {price})"
    cursor.execute(sql)
    conn.commit()
    
    # (3) 레코드 조회
    sql = "select * from fruits"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    for row in rows:
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수: ', len(rows))
    
    # (4) 상품명 조회
    name = input('\n상품명 입력: ')
    sql = f"select * from fruits where name like '%{name}%'"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    if rows:
        for row in rows:
            print(row)
    else:
        print("검색된 레코드 없음")
    
except Exception as e:
    print("DB연동 ERROR: ", e)
    conn.rollback()

finally:
    cursor.close()   
    conn.close()

code 입력: 6
name 입력: Banana
갯수 입력: 5
가격 입력: 4000
1 Apple 3 3000
2 Orange 2 5000
3 Strawberry 0 0
4 Melon 0 20000
6 Banana 5 4000
검색된 레코드 수:  5

상품명 입력:
(1, 'Apple', 3, 3000)
(2, 'Orange', 2, 5000)
(3, 'Strawberry', 0, 0)
(4, 'Melon', 0, 20000)
(6, 'Banana', 5, 4000)

### 레코드 수정

In [20]:
try:
    conn = sqlite3.connect('Data/sqlite_fruit_db')
    cursor = conn.cursor()
    
    # (6) 레코드 수정
    code = int(input('수정하려는 code 입력: '))
    num = int(input('수정 갯수 입력: '))
    price = int(input('수정 가격 입력: '))
    
    sql = f"update fruits set num = {num}, price = {price} where code = {code}"
    cursor.execute(sql)
    conn.commit()
    
    # (3) 레코드 조회
    sql = "select * from fruits"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    for row in rows:
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수: ', len(rows))
    
    # (4) 상품명 조회
    name = input('\n상품명 입력: ')
    sql = f"select * from fruits where name like '%{name}%'"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    if rows:
        for row in rows:
            print(row)
    else:
        print("검색된 레코드 없음")
    
except Exception as e:
    print("DB연동 ERROR: ", e)
    conn.rollback()

finally:
    cursor.close()   
    conn.close()

수정하려는 code 입력: 6
수정 갯수 입력: 2
수정 가격 입력: 1500
1 Apple 3 3000
2 Orange 2 5000
3 Strawberry 0 0
4 Melon 0 20000
6 Banana 2 1500
검색된 레코드 수:  5

상품명 입력: False
검색된 레코드 없음

### 레코드 삭제

In [21]:
try:
    conn = sqlite3.connect('Data/sqlite_fruit_db')
    cursor = conn.cursor()
    
    # (6) 레코드 삭제
    code = int(input('삭제하려는 code 입력: '))
    sql = f"delete from fruits where code = {code}"
    cursor.execute(sql)
    conn.commit()
    
    # (3) 레코드 조회
    sql = "select * from fruits"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    for row in rows:
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수: ', len(rows))
    
except Exception as e:
    print("DB연동 ERROR: ", e)
    conn.rollback()

finally:
    cursor.close()   
    conn.close()

삭제하려는 code 입력: 6
1 Apple 3 3000
2 Orange 2 5000
3 Strawberry 0 0
4 Melon 0 20000
검색된 레코드 수:  4

## Primary key 변경

In [22]:
try:
    conn = sqlite3.connect('Data/sqlite_fruit2_db')
    cursor = conn.cursor()
    
    # (1) 테이블 생성
    sql = """create table if not exists fruits(
    code integer unique not null,
    name text(30) unique not null primary key,
    num integer default 0,
    price integer default 0
    )"""
    cursor.execute(sql)
    
    # (2) 레코드 추가
    cursor.execute("insert into fruits values(1, 'Apple', 3, 3000)")
    cursor.execute("insert into fruits values(2, 'Orange', 2, 5000)")
    cursor.execute("insert into fruits(code, name) values(3, 'Strawberry')")
    cursor.execute("insert into fruits(code, name, price) values(4, 'Melon', 20000)")
    conn.commit()
    
    # (3) 레코드 조회
    sql = "select * from fruits"
    cursor.execute(sql)
    rows = cursor.fetchall()
    print(rows)
    
except Exception as e:
    print("DB연동 ERROR: ", e)
    conn.rollback()

finally:
    cursor.close()   
    conn.close()

[(1, 'Apple', 3, 3000), (2, 'Orange', 2, 5000), (3, 'Strawberry', 0, 0), (4, 'Melon', 0, 20000)]

### 레코드 수정

In [28]:
try:
    conn = sqlite3.connect('Data/sqlite_fruit_db')
    cursor = conn.cursor()
    
    # (6) 레코드 수정
    name = input('수정하려는 과일이름 입력: ')
    num = int(input('수정 갯수 입력: '))
    price = int(input('수정 가격 입력: '))
    
    sql = f"update fruits set num = {num}, price = {price} where name = '{name}'"
    cursor.execute(sql)
    conn.commit()
    
    # (3) 레코드 조회
    sql = "select * from fruits"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    for row in rows:
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수: ', len(rows))
    
    # (4) 상품명 조회
    name = input('\n상품명 입력: ')
    sql = f"select * from fruits where name like '%{name}%'"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    if rows:
        for row in rows:
            print(row)
    else:
        print("검색된 레코드 없음")
    
except Exception as e:
    print("DB연동 ERROR: ", e)
    conn.rollback()

finally:
    cursor.close()   
    conn.close()

수정하려는 과일이름 입력: Strawberry
수정 갯수 입력: 1
수정 가격 입력: 8000
1 Apple 3 3000
2 Orange 2 5000
3 Strawberry 1 8000
4 Melon 2 15000
검색된 레코드 수:  4

상품명 입력: Melon
(4, 'Melon', 2, 15000)

### 상품코드 조회

In [33]:
try:
    conn = sqlite3.connect('Data/sqlite_fruit_db')
    cursor = conn.cursor()
    
    # (4) 상품명 조회
    name = input('\n상품명 입력: ')
    sql = f"select * from fruits where name like '%{name}%'"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    if rows:
        for row in rows:
            print(row[1],'의 상품코드는', row[0])
    else:
        print("검색된 레코드 없음")
    
except Exception as e:
    print("DB연동 ERROR: ", e)
    conn.rollback()

finally:
    cursor.close()   
    conn.close()

상품명 입력: Watermelon
검색된 레코드 없음

In [34]:
try:
    conn = sqlite3.connect('Data/sqlite_fruit_db')
    cursor = conn.cursor()
    
    # (4) 상품명 조회
    name = input('\n상품명 입력: ')
    sql = f"select * from fruits where name like '%{name}%'"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    if rows:
        for row in rows:
            print(row[1],'의 상품코드는', row[0])
    else:
        print("검색된 레코드 없음")
    
except Exception as e:
    print("DB연동 ERROR: ", e)
    conn.rollback()

finally:
    cursor.close()   
    conn.close()

상품명 입력: Apple
Apple 의 상품코드는 1