In [1]:
import pandas as pd
import numpy as np
import datetime as dt

## 지역구 에너지 소비량 데이터

In [2]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv'
df= pd.read_csv(url)
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

Q51. DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

In [3]:
df.DateTime = pd.to_datetime(df.DateTime)

In [4]:
df.DateTime.min(), df.DateTime.max()

(Timestamp('2017-01-01 00:00:00'), Timestamp('2017-12-30 23:50:00'))

In [5]:
df.groupby(df.DateTime.dt.month).size().to_frame('데이터개수')

          데이터개수
DateTime
1          4464
2          4032
3          4464
4          4320
5          4464
6          4320
7          4464
8          4464
9          4320
10         4464
11         4320
12         4320

Q52.3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

In [6]:
df.head(3)

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373

In [29]:
df[df.DateTime.dt.month == 3].groupby(df.DateTime.dt.hour).mean().Temperature.sort_values().iloc[0]

11.506612903225806

In [30]:
df[df.DateTime.dt.month == 3].groupby(df.DateTime.dt.hour)['Temperature'].mean().sort_values().values[0]

11.506612903225806

Q53. 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라

In [7]:
df[df.DateTime.dt.month == 3].groupby(df.DateTime.dt.hour)['Temperature'].mean().sort_values().values[-1]

18.393602150537635

Q54.Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DateTime                   52416 non-null  datetime64[ns]
 1   Temperature                52416 non-null  float64
 2   Humidity                   52416 non-null  float64
 3   Wind Speed                 52416 non-null  float64
 4   general diffuse flows      52416 non-null  float64
 5   diffuse flows              52416 non-null  float64
 6   Zone 1 Power Consumption   52416 non-null  float64
 7   Zone 2  Power Consumption  52416 non-null  float64
 8   Zone 3  Power Consumption  52416 non-null  float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 3.6 MB

In [10]:
df[df['Zone 1 Power Consumption'] >  df['Zone 2  Power Consumption']].Humidity.mean()

68.23624448055052

Q55.각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라

In [14]:
df.iloc[:,-3:].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

Q56.Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

In [17]:
df.Temperature.apply(lambda x: 'A' if x<10 else 'B' if x<20 else 'C' if x<30 else 'D').value_counts()

Temperature
B    26993
C    21105
A     2874
D     1444
Name: count, dtype: int64

Q57.6월 데이터중 12시의 Temperature의 표준편차를 구하여라

In [20]:
df[df.DateTime.dt.month == 6][df[df.DateTime.dt.month == 6].DateTime.dt.hour == 12].Temperature.std()

2.0499417827951025

In [21]:
df[(df.DateTime.dt.month == 6) * (df.DateTime.dt.hour == 12)].Temperature.std()

2.0499417827951025

Q58.6월 데이터중 12시의 Temperature의 분산을 구하여라

In [22]:
df[(df.DateTime.dt.month == 6) * (df.DateTime.dt.hour == 12)].Temperature.var()

4.202261312849163

Q59.Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [26]:
df[ df.Temperature >= df.Temperature.mean() ].sort_values("Temperature").iloc[3].Humidity

87.9

In [28]:
df[df.Temperature >= df.Temperature.mean()].sort_values('Temperature').Humidity.values[3]

87.9

Q60.Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은

In [29]:
df[ df.Temperature >= df.Temperature.median() ].sort_values("Temperature").iloc[3].Humidity

80.3

## 포켓몬 정보 데이터

In [30]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv'
df = pd.read_csv(url)
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Q61.Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [39]:
df.groupby('Legendary')['HP'].mean().diff().iloc[1]

25.55614861329147

In [43]:
df.groupby('Legendary')['HP'].mean().values[1] - df.groupby('Legendary')['HP'].mean().values[0]

25.55614861329147

Q62.Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [46]:
df['Type 2'].value_counts().index[0]

'Flying'

Q63.가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [50]:
df[ df['Type 1'] == df['Type 1'].value_counts().index[0] ].Attack.mean()

74.15178571428571

In [51]:
df[ df['Type 1'] == df['Type 1'].value_counts().index[0] ].Defense.mean()

72.94642857142857

In [52]:
df[ df['Type 1'] == df['Type 1'].value_counts().index[0] ].Attack.mean() / df[ df['Type 1'] == df['Type 1'].value_counts().index[0] ].Defense.mean()

1.0165238678090576

## Q64.포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [73]:
df[['Generation','Legendary']].groupby('Generation').sum().sort_values('Legendary').reset_index().iloc[-1].index[0]

'Generation'

In [70]:
df.Legendary.value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

In [72]:
df [ df.Legendary == True ].Generation.value_counts().index[0]

3

Q65.‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [74]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [81]:
 df[['HP', 'Attack', 'Defense','Sp. Atk', 'Sp. Def', 'Speed']].corr()

               HP    Attack   Defense   Sp. Atk   Sp. Def     Speed
HP       1.000000  0.422386  0.239622  0.362380  0.378718  0.175952
Attack   0.422386  1.000000  0.438687  0.396362  0.263990  0.381240
Defense  0.239622  0.438687  1.000000  0.223549  0.510747  0.015227
Sp. Atk  0.362380  0.396362  0.223549  1.000000  0.506121  0.473018
Sp. Def  0.378718  0.263990  0.510747  0.506121  1.000000  0.259133
Speed    0.175952  0.381240  0.015227  0.473018  0.259133  1.000000

In [89]:
cr = df[['HP', 'Attack', 'Defense','Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack() [df[['HP', 'Attack', 'Defense','Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack() != 1].reset_index()
cr

    level_0  level_1         0
0        HP   Attack  0.422386
1        HP  Defense  0.239622
2        HP  Sp. Atk  0.362380
3        HP  Sp. Def  0.378718
4        HP    Speed  0.175952
5    Attack       HP  0.422386
6    Attack  Defense  0.438687
7    Attack  Sp. Atk  0.396362
8    Attack  Sp. Def  0.263990
9    Attack    Speed  0.381240
10  Defense       HP  0.239622
11  Defense   Attack  0.438687
12  Defense  Sp. Atk  0.223549
13  Defense  Sp. Def  0.510747
14  Defense    Speed  0.015227
15  Sp. Atk       HP  0.362380
16  Sp. Atk   Attack  0.396362
17  Sp. Atk  Defense  0.223549
18  Sp. Atk  Sp. Def  0.506121
19  Sp. Atk    Speed  0.473018
20  Sp. Def       HP  0.378718
21  Sp. Def   Attack  0.263990
22  Sp. Def  Defense  0.510747
23  Sp. Def  Sp. Atk  0.506121
24  Sp. Def    Speed  0.259133
25    Speed       HP  0.175952
26    Speed   Attack  0.381240
27    Speed  Defense  0.015227
28    Speed  Sp. Atk  0.473018
29    Speed  Sp. Def  0.259133

In [97]:
cr.sort_values(0).iloc[-1].values[0], cr.sort_values(0).iloc[-1].values[1], cr.sort_values(0).iloc[-1].values[2]

('Defense', 'Sp. Def', 0.5107465890885571)

## Q66.각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [101]:
df[['Generation','Attack']]

     Generation  Attack
0             1      49
1             1      62
2             1      82
3             1     100
4             1      52
..          ...     ...
795           6     100
796           6     160
797           6     110
798           6     160
799           6     110

[800 rows x 2 columns]

In [109]:
df[['Generation','Attack']].sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()

19.5

In [ ]:
df.sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()

Q67.각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [110]:
df.sort_values(['Generation','Attack']).groupby('Generation').tail(5).Attack.mean()

157.23333333333332

Q68.가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [129]:
df[['Type 1','Type 2']].value_counts().reset_index().iloc[0].values[:2]

array(['Normal', 'Flying'], dtype=object)

In [130]:
df[['Type 1','Type 2']].value_counts().head(1)

Type 1  Type 2
Normal  Flying    24
Name: count, dtype: int64

Q69.한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [132]:
(df[['Type 1','Type 2']].value_counts() == 1).sum()

39

## Q70.한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [142]:
t = df[['Type 1','Type 2']].value_counts()[df[['Type 1','Type 2']].value_counts() == 1].reset_index()
t.head(3)

     Type 1  Type 2  count
0  Electric   Grass      1
1     Steel  Dragon      1
2  Electric     Ice      1

In [144]:
t.values[0]

array(['Electric', 'Grass', 1], dtype=object)

In [147]:
lst = []
for value in t.values:
    t1 = value[0]
    t2 = value[1]
    
    d = df[(df['Type 1'] == t1)&(df['Type 2'] == t2)]
    lst.append(d)

In [148]:
pd.concat(lst).Generation.value_counts()

Generation
4    13
6     9
5     7
3     5
2     4
1     1
Name: count, dtype: int64

In [ ]:
lst = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    sp = df[(df['Type 1']==t1) & (df['Type 2']==t2)]
    lst.append(sp)

result = pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()
print(result)