### 유튜브 인기동영상

In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [174]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
df = pd.read_csv(url)

In [4]:
df.head(3)

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60399 entries, 0 to 60398
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      60399 non-null  int64
 1   title           60399 non-null  object
 2   channelTitle    60399 non-null  object
 3   categoryId      60399 non-null  int64
 4   view_count      60399 non-null  int64
 5   likes           60399 non-null  int64
 6   dislikes        60399 non-null  int64
 7   comment_count   60399 non-null  int64
 8   channelId       60399 non-null  object
 9   trending_date2  60399 non-null  object
dtypes: int64(6), object(4)
memory usage: 4.6+ MB

## Q1. 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

In [18]:
df.groupby('channelTitle')['title'].size().sort_values(ascending =False).head(10).index

Index(['짤툰', '파뿌리', 'SPOTV', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', '장삐쭈',
       'BANGTANTV', '채널 십오야', '이과장', '총몇명'],
      dtype='object', name='channelTitle')

In [24]:
df.channelId.value_counts().head(10).index

Index(['UCszFjh7CEfwDb7UUGb4RzCQ', 'UClzB2iZ5jPoTNz0S-QU6Wiw',
       'UCtm_QoN2SIxwCE-59shX7Qg', 'UCaKod3X1Tn4c7Ci0iUKcvzQ',
       'UCiwQRG2sCcfjKkgxMEdJGPg', 'UChbE5OZQ6dRHECsX0tEPEZQ',
       'UCLkAepWjdylmXSltofFvsYQ', 'UCQ2O-iftmnlfrBuNsUUTofQ',
       'UCtfriFvIe5gIe8wRWb8UTMg', 'UCRuSxVu4iqTK5kCh90ntAgA'],
      dtype='object')

In [30]:
list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())

['장삐쭈',
 '총몇명',
 '파뿌리',
 '짤툰',
 '런닝맨 - 스브스 공식 채널',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 'SPOTV',
 '채널 십오야',
 '이과장',
 'BANGTANTV']

In [31]:
df.groupby('channelTitle')['title'].size().sort_values(ascending =False).head(10)

channelTitle
짤툰                       372
파뿌리                      318
SPOTV                    318
런닝맨 - 스브스 공식 채널          313
엠뚜루마뚜루 : MBC 공식 종합 채널    293
장삐쭈                      283
BANGTANTV                275
채널 십오야                   274
이과장                      258
총몇명                      255
Name: title, dtype: int64

In [39]:
df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].value_counts('channelTitle')

channelTitle
짤툰                       372
SPOTV                    318
파뿌리                      318
런닝맨 - 스브스 공식 채널          313
엠뚜루마뚜루 : MBC 공식 종합 채널    293
장삐쭈                      283
BANGTANTV                275
채널 십오야                   274
이과장                      258
총몇명                      255
dtype: int64

Q2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [42]:
list(df[df.dislikes > df.likes].channelTitle.unique())

['핫도그TV',
 'ASMR 애정TV',
 '하얀트리HayanTree',
 '양팡 YangPang',
 '철구형 (CHULTUBE)',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 '육지담',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 '사나이 김기훈',
 '나혼자산다 STUDIO',
 'Gen.G esports']

## Q3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [53]:
df.groupby('channelId').size()

channelId
UC-0229MiVYnQoUxdLJnFl_g     17
UC-0C8yVGJy-cS4FGlYKelWw    138
UC-0tICWyA0_AJAVMBHL8GdQ     12
UC-2Y8dQb0S6DtpxNgAKoJKA      7
UC-5acDjU6XFWu-__G17V_YQ     20
                           ...
UCznImSIaxZR7fdLCICLdgaQ     10
UCzt24ffdUiJvJAm5HY084aw     22
UCzteSXznVjwESizsCcSKSWw      7
UCzxXBQnJy9guqVNM6KXi0Ig     10
UCzz58-H0wzmGoFi3MO_9ePQ    102
Length: 1770, dtype: int64

In [72]:
dd = df.groupby(['channelId','channelTitle']).size().to_frame()
len(dd.groupby('channelId').size()[dd.groupby('channelId').size() != 1])

71

In [76]:
len(df[['channelId','channelTitle']].drop_duplicates().channelId.value_counts()[df[['channelId','channelTitle']].drop_duplicates().channelId.value_counts() > 1])

71

Q4. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [79]:
df.trending_date2 = df.trending_date2.astype('datetime64[ns]')

In [89]:
df[df.trending_date2.dt.day_name() == 'Sunday'].groupby('categoryId').size().sort_values(ascending = False).index[0]

24

In [94]:
df[df.trending_date2.dt.day_name() == 'Sunday'].value_counts('categoryId').index[0]

24

## Q5. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [109]:
df.groupby([df.trending_date2.dt.day_name(), 'categoryId']).size().to_frame('counts')

                           counts
trending_date2 categoryId
Friday         1              243
               2              120
               10             833
               15             187
               17             633
...                           ...
Wednesday      25             468
               26             385
               27             212
               28             165
               29              12

[105 rows x 1 columns]

In [117]:
df.groupby([df.trending_date2.dt.day_name(), 'categoryId'], as_index= False).size()

    trending_date2  categoryId  size
0           Friday           1   243
1           Friday           2   120
2           Friday          10   833
3           Friday          15   187
4           Friday          17   633
..             ...         ...   ...
100      Wednesday          25   468
101      Wednesday          26   385
102      Wednesday          27   212
103      Wednesday          28   165
104      Wednesday          29    12

[105 rows x 3 columns]

In [120]:
df.groupby([df.trending_date2.dt.day_name(), 'categoryId'], as_index= False).size().pivot(index = 'categoryId', columns = 'trending_date2', values = 'size')

trending_date2  Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1                  243     263       255     274       246      257        234
2                  120     105       119      99       128      119        129
10                 833     837       776     830       890      894        917
15                 187     215       198     217       207      208        207
17                 633     668       592     636       682      708        706
19                  90      92        87      91        92       89         85
20                 283     298       296     289       282      285        291
22                1288    1373      1289    1337      1341     1375       1333
23                 568     594       570     556       560      569        566
24                2976    3148      3066    3096      2954     3084       3090
25                 444     453       422     437       470      452        468
26                 369     378       364     363       375      394        385
27                 183     205       183     199       194      194        212
28                 171     160       173     167       166      161        165
29                  12      10        10       9        13       11         12

Q6. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60399 entries, 0 to 60398
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      60399 non-null  int64
 1   title           60399 non-null  object
 2   channelTitle    60399 non-null  object
 3   categoryId      60399 non-null  int64
 4   view_count      60399 non-null  int64
 5   likes           60399 non-null  int64
 6   dislikes        60399 non-null  int64
 7   comment_count   60399 non-null  int64
 8   channelId       60399 non-null  object
 9   trending_date2  60399 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(6), object(3)
memory usage: 4.6+ MB

In [146]:
df2 = df[df.view_count != 0]
df.iloc[(df2.comment_count / df2.view_count).sort_values(ascending = False).index[0]]['title']

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

## Q7. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [153]:
df2['ratio'] = df2.comment_count / df2.view_count
df3 = df2[df2.ratio !=0]
df.iloc[(df3.comment_count / df3.view_count).sort_values().index[0]]['title']

C:\Users\User\AppData\Local\Temp\ipykernel_10788\1416018370.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ratio'] = df2.comment_count / df2.view_count

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [156]:
ratio = (df.comment_count / df.view_count).dropna().sort_values()
ratio[ratio !=0].index[0]

46005

In [157]:
df.iloc[ratio[ratio !=0].index[0]].title

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

Q8. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [164]:
dff = df [( df.likes != 0 ) & ( df.dislikes != 0 ) ]
df.iloc[(dff.dislikes / dff.likes).sort_values().index[0]].title

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

Q9.가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [175]:
df.groupby('channelTitle').size().sort_values(ascending = False).index[0]

'짤툰'

In [184]:
df.loc[df.channelId == df.channelId.value_counts().index[0]].channelTitle.unique()[0]

'짤툰'

## Q10. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [197]:
(df.groupby('title')['trending_date2'].size() >= 20).sum()

41

In [193]:
(df[['title','channelId']].value_counts() >=20).sum()

40

In [210]:
(df.groupby(['title','channelId'])['trending_date2'].size() >= 20).sum()

40

In [211]:
(df.groupby(['title','channelId'])['trending_date2'].size() >= 20).index

MultiIndex([(                                                            '#1. [슈퍼리그] 챔스 종결? 드디어 창설된 슈퍼리그, 형태와 방식은?', ...),
            (                                                                           '#181.왜 나만 갖고 그래?? #shorts', ...),
            (                                                                        '#254. 조만간 사고 낼 것 같아요 #shorts', ...),
            (                                                                          '#302. 끌바냐? 단속이냐?   #shorts', ...),
            (                                              '#MtnDew3PT​ Contest Full Highlights | 2021 #NBAAllStar', ...),
            (                                                                                      '#shorts 문월 뱃살ㅋ', ...),
            (                                                                                '#shorts ｜김계란님 들고 더블폴', ...),
            ('#국민곰돌이🐻 배구 영웅, #김희진 선수! 대국민 입덕 영상 탄생! 이 인터뷰 하나면 김희진 선수의 모든 것을 알 수 있다!? 최초공개 비.하.인.드 인터뷰💜|AllureKorea', ...),
            (                                 '#박서진 #정동원 #오유진 '퍼포먼스'하면 우리지😎 무대 사로잡는 화려한 끼❗아낌없이 방출🌋 [대케가수] / KBS 방송', ...),
            (                                                     '#브레이브걸스 #롤린 롤린~🎵 드디어 포텐 터진 그녀들❤ [대케가수] / KBS 방송', ...),
            ...
            (                                                                      '🤟🏻aespa 'Savage' MV Reaction🤟🏻', ...),
            (                                             '🤯 LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada 3-5 Barça', ...),
            (                                               '🥦팥시루떡[Adzuki Bean Rice Cake]💛밥솥을 이용해 밥하듯 쉽게해요💛칼밥상#183', ...),
            (         '🦑《오징어게임》무궁화꽃이 피었습니다~♬ 움직이면 죽는다! 이기면 456억! 지면 죽음? 싱크로율 100% [로블록스 잉여맨 댕댕이] ROBLOX SQUID GAME', ...),
            (                                                                          '🦷 기억을 없애주는 치과 🧠｜망각 발치 ASMR', ...),
            (                                                '🧳ep.12-1 좋은 거 다 주고 싶었던(?) 배우들의 역대급 몸으로 말해요 | 🧳출장 십오야', ...),
            (                                        '🧳스페셜(1) 최다 출연 X 최단 시간, 이렇게 힘든 걸 금가즈가 해냅니다 | 🧳출장십오야 X 빈센조 스페셜', ...),
            (                                                       '🧳스페셜(2) 솔찍히 썸네일만 봐도 벌써 재밌다 | 🧳출장십오야 X 빈센조 스페셜', ...),
            (                                                '🧳최종화 BH의 안녕과 평화(?)가 걸린, 난이도 극악(!) 고요 속의 외침 | 🧳출장 십오야', ...),
            (                                             '🩸괴담회에 어서오세요🩸: 첫 번째 이야기 | WELCOME TO NCT’S HORROR NIGHTS', ...)],
           names=['title', 'channelId'], length=7867)

In [201]:
(df.groupby('title')['trending_date2'].size() >= 20).index

Index(['#1. [슈퍼리그] 챔스 종결? 드디어 창설된 슈퍼리그, 형태와 방식은?', '#181.왜 나만 갖고 그래?? #shorts',
       '#254. 조만간 사고 낼 것 같아요 #shorts', '#302. 끌바냐? 단속이냐?   #shorts',
       '#MtnDew3PT​ Contest Full Highlights | 2021 #NBAAllStar',
       '#shorts 문월 뱃살ㅋ', '#shorts ｜김계란님 들고 더블폴',
       '#국민곰돌이🐻 배구 영웅, #김희진 선수! 대국민 입덕 영상 탄생! 이 인터뷰 하나면 김희진 선수의 모든 것을 알 수 있다!? 최초공개 비.하.인.드 인터뷰💜|AllureKorea',
       '#박서진 #정동원 #오유진 '퍼포먼스'하면 우리지😎 무대 사로잡는 화려한 끼❗아낌없이 방출🌋 [대케가수] / KBS 방송',
       '#브레이브걸스 #롤린 롤린~🎵 드디어 포텐 터진 그녀들❤ [대케가수] / KBS 방송',
       ...
       '🤟🏻aespa 'Savage' MV Reaction🤟🏻',
       '🤯 LATE COMEBACK DRAMA! | HIGHLIGHTS | Granada 3-5 Barça',
       '🥦팥시루떡[Adzuki Bean Rice Cake]💛밥솥을 이용해 밥하듯 쉽게해요💛칼밥상#183',
       '🦑《오징어게임》무궁화꽃이 피었습니다~♬ 움직이면 죽는다! 이기면 456억! 지면 죽음? 싱크로율 100% [로블록스 잉여맨 댕댕이] ROBLOX SQUID GAME',
       '🦷 기억을 없애주는 치과 🧠｜망각 발치 ASMR',
       '🧳ep.12-1 좋은 거 다 주고 싶었던(?) 배우들의 역대급 몸으로 말해요 | 🧳출장 십오야',
       '🧳스페셜(1) 최다 출연 X 최단 시간, 이렇게 힘든 걸 금가즈가 해냅니다 | 🧳출장십오야 X 빈센조 스페셜',
       '🧳스페셜(2) 솔찍히 썸네일만 봐도 벌써 재밌다 | 🧳출장십오야 X 빈센조 스페셜',
       '🧳최종화 BH의 안녕과 평화(?)가 걸린, 난이도 극악(!) 고요 속의 외침 | 🧳출장 십오야',
       '🩸괴담회에 어서오세요🩸: 첫 번째 이야기 | WELCOME TO NCT’S HORROR NIGHTS'],
      dtype='object', name='title', length=7854)

In [209]:
(df[['title','channelId']].value_counts() >=20)

title                                                           channelId
컵라면 먹을 때 절대 일어날리 없는 상황들 ㅋㅋㅋ                                     UCmzMtXrJgfCqA0rfhz8_P4A     True
대한민국 VS 투르크메니스탄 : FIFA 카타르 월드컵 2차 예선 하이라이트 - 2021.06.05         UCpjOmwiy88a9EV3Rv8ukJgw     True
극과 극을 살고 있는 인도의 갑부와 빈곤층들!                                       UCi9Sl8GnFdYoqEVXnojBPJw     True
2주더놀릴예정                                                         UCaKod3X1Tn4c7Ci0iUKcvzQ     True
대박... 멧돼지를 아들로 삼은 할아버지｜KBS 주주클럽 050410 방송                       UCAhKKbDO9-ymWZ_7iAFLBQQ     True
                                                                                            ...
천재 친구 황봉황 [총몇명 스토리2]                                            UCRuSxVu4iqTK5kCh90ntAgA    False
담배충 [병맛더빙/웃긴영상]                                                 UCUK4YjvUvHrFQwTFXwkUIng    False
Official Trailer | The Falcon and The Winter Soldier | Disney+  UCvC4D8onUfXzvjTOM-dBfEA    False
[월드컵최종예선] 오만 VS 베트남 4차전 H/LㅣAFC 아시아지역 월드컵 최종예선                  UCtybqqaTj6Nx74Azdz1KrsA    False
깐부끼리는 니꺼 내꺼가 없는거야                                               UCu9BCtGIEr73LXZsKmoujKw    False
Length: 7867, dtype: bool