In [1]:
import pandas as pd
import numpy as np
import datetime as dt

## 전세계 행복도 지표 데이터

In [2]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

Q41. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   행복랭킹      312 non-null    int64
 1   나라명       312 non-null    object
 2   점수        312 non-null    float64
 3   상대GDP     312 non-null    float64
 4   사회적지원     312 non-null    float64
 5   행복기대치     312 non-null    float64
 6   선택의 자유도   312 non-null    float64
 7   관대함       312 non-null    float64
 8   부패에 대한인식  311 non-null    float64
 9   년도        312 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 24.5+ KB

In [8]:
df[df.행복랭킹 == 10].점수.mean()

7.259

Q42. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [26]:
df[df.행복랭킹 <=50].groupby('년도')['점수'].mean()

년도
2018    6.64678
2019    6.67002
Name: 점수, dtype: float64

In [27]:
df[df.행복랭킹 <=50][['년도','점수']].groupby('년도').mean()

           점수
년도
2018  6.64678
2019  6.67002

Q43. 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [6]:
df[ df.년도 == 2018 ][['점수','부패에 대한인식']].corr()

                점수  부패에 대한인식
점수        1.000000  0.405292
부패에 대한인식  0.405292  1.000000

In [5]:
df[ df.년도 == 2018 ][['점수','부패에 대한인식']].corr().iloc[1,0]

0.40529152271510027

## Q44. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [62]:
df[df.년도 == 2019][['나라명','행복랭킹']][df[df.년도 == 2019][['나라명','행복랭킹']].나라명 == df[df.년도 == 2018][['나라명','행복랭킹']].reset_index().나라명].나라명.nunique()

15

In [65]:
len(df[['행복랭킹','나라명']].drop_duplicates())

297

In [114]:
len(df[['행복랭킹','나라명']]) - len(df[['행복랭킹','나라명']].drop_duplicates())

15

In [112]:
( df.groupby(['행복랭킹','나라명']).size() == 2 ).sum()

15

### drop_duplicates
- 년도 상관없이, 랭킹과 나라명이 동일한 데이터를 제거하고 전체 unique에서 빼줌

## Q45. 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [3]:
df.columns

Index(['행복랭킹', '나라명', '점수', '상대GDP', '사회적지원', '행복기대치', '선택의 자유도', '관대함',
       '부패에 대한인식', '년도'],
      dtype='object')

In [10]:
dataf = df.loc[ df.년도 == 2019, ['행복랭킹', '점수', '상대GDP', '사회적지원', '행복기대치', '선택의 자유도', '관대함',
       '부패에 대한인식'] ]
dataf.head()

   행복랭킹     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식
0     1  7.769  1.340  1.587  0.986    0.596  0.153     0.393
1     2  7.600  1.383  1.573  0.996    0.592  0.252     0.410
2     3  7.554  1.488  1.582  1.028    0.603  0.271     0.341
3     4  7.494  1.380  1.624  1.026    0.591  0.354     0.118
4     5  7.488  1.396  1.522  0.999    0.557  0.322     0.298

In [29]:
cor = dataf.corr()
cor

,행복랭킹,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식
행복랭킹,1.000000,-0.989096,-0.801947,-0.767465,-0.787411,-0.546606,-0.047993,-0.351959
점수,-0.989096,1.000000,0.793883,0.777058,0.779883,0.566742,0.075824,0.385613
상대GDP,-0.801947,0.793883,1.000000,0.754906,0.835462,0.379079,-0.079662,0.298920
사회적지원,-0.767465,0.777058,0.754906,1.000000,0.719009,0.447333,-0.048126,0.181899
행복기대치,-0.787411,0.779883,0.835462,0.719009,1.000000,0.390395,-0.029511,0.295283
선택의 자유도,-0.546606,0.566742,0.379079,0.447333,0.390395,1.000000,0.269742,0.438843
관대함,-0.047993,0.075824,-0.079662,-0.048126,-0.029511,0.269742,1.000000,0.326538
부패에 대한인식,-0.351959,0.385613,0.298920,0.181899,0.295283,0.438843,0.326538,1.000000

In [19]:
datas = dataf.corr().unstack().to_frame('corr').reset_index()
datas.head()

  level_0 level_1      corr
0    행복랭킹    행복랭킹  1.000000
1    행복랭킹      점수 -0.989096
2    행복랭킹   상대GDP -0.801947
3    행복랭킹   사회적지원 -0.767465
4    행복랭킹   행복기대치 -0.787411

In [28]:
ans = datas [datas['corr'] != 1].sort_values('corr',ascending = False).drop_duplicates('corr').head().reset_index(drop=True)
ans.columns = ['v1','v2','corr']
ans

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP     점수  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  사회적지원  상대GDP  0.754906

## SET

In [35]:
datas [datas['corr'] != 1][['level_0','level_1']]

     level_0   level_1
1       행복랭킹        점수
2       행복랭킹     상대GDP
3       행복랭킹     사회적지원
4       행복랭킹     행복기대치
5       행복랭킹   선택의 자유도
6       행복랭킹       관대함
7       행복랭킹  부패에 대한인식
8         점수      행복랭킹
10        점수     상대GDP
11        점수     사회적지원
12        점수     행복기대치
13        점수   선택의 자유도
14        점수       관대함
15        점수  부패에 대한인식
16     상대GDP      행복랭킹
17     상대GDP        점수
19     상대GDP     사회적지원
20     상대GDP     행복기대치
21     상대GDP   선택의 자유도
22     상대GDP       관대함
23     상대GDP  부패에 대한인식
24     사회적지원      행복랭킹
25     사회적지원        점수
26     사회적지원     상대GDP
28     사회적지원     행복기대치
29     사회적지원   선택의 자유도
30     사회적지원       관대함
31     사회적지원  부패에 대한인식
32     행복기대치      행복랭킹
33     행복기대치        점수
34     행복기대치     상대GDP
35     행복기대치     사회적지원
37     행복기대치   선택의 자유도
38     행복기대치       관대함
39     행복기대치  부패에 대한인식
40   선택의 자유도      행복랭킹
41   선택의 자유도        점수
42   선택의 자유도     상대GDP
43   선택의 자유도     사회적지원
44   선택의 자유도     행복기대치
46   선택의 자유도       관대함
47   선택의 자유도  부패에 대한인식
48       관대함      행복랭킹
49       관대함        점수
50       관대함     상대GDP
51       관대함     사회적지원
52       관대함     행복기대치
53       관대함   선택의 자유도
55       관대함  부패에 대한인식
56  부패에 대한인식      행복랭킹
57  부패에 대한인식        점수
58  부패에 대한인식     상대GDP
59  부패에 대한인식     사회적지원
60  부패에 대한인식     행복기대치
61  부패에 대한인식   선택의 자유도
62  부패에 대한인식       관대함

Q46. 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [36]:
df.head(3)

   행복랭킹      나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0     1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2  Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3   Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019

In [60]:
df.sort_values(['년도','점수']).groupby('년도').head()[['년도','점수']].groupby('년도').mean()

          점수
년도
2018  3.1800
2019  3.1408

Q47. 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [69]:
df[df.년도 == 2019][df[df.년도 == 2019].상대GDP>=df[df.년도 == 2019].상대GDP.mean()].점수.mean()

6.0132045454545455

In [70]:
df[df.년도 == 2019][df[df.년도 == 2019].상대GDP<=df[df.년도 == 2019].상대GDP.mean()].점수.mean()

4.622720588235294

In [71]:
df[df.년도 == 2019][df[df.년도 == 2019].상대GDP>=df[df.년도 == 2019].상대GDP.mean()].점수.mean() - df[df.년도 == 2019][df[df.년도 == 2019].상대GDP<=df[df.년도 == 2019].상대GDP.mean()].점수.mean()

1.390483957219251

Q48. 각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [82]:
df.sort_values(['년도','부패에 대한인식'], ascending = False).groupby('년도').head(20)[['년도','부패에 대한인식']].groupby('년도').mean()

      부패에 대한인식
년도
2018    0.3267
2019    0.3201

## Q49. 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [87]:
set(df[df.년도 == 2018][df[df.년도 == 2018].행복랭킹 <= 50].나라명) - set(df[df.년도 == 2019][df[df.년도 == 2019].행복랭킹 <= 50].나라명)

{'Belize', 'Kuwait', 'Malaysia', 'Thailand'}

In [88]:
len(set(df[df.년도 == 2018][df[df.년도 == 2018].행복랭킹 <= 50].나라명) - set(df[df.년도 == 2019][df[df.년도 == 2019].행복랭킹 <= 50].나라명))

4

In [ ]:
50-df[ df['행복랭킹'] <=50 ]['나라명'].duplicated().sum()

## Q50. 2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [95]:
ctry = df[['나라명','년도']].groupby('나라명').size()[df[['나라명','년도']].groupby('나라명').size() == 2].index
ctry

Index(['Afghanistan', 'Albania', 'Algeria', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       ...
       'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='나라명', length=152)

In [ ]:
ctry = df.나라명.value_counts() [df.나라명.value_counts() >= 2 ].index
ctry

In [117]:
ctrs = df[df.나라명.isin(ctry)]
ctrs.loc[ctrs.년도==2018,'점수'] = ctrs[ctrs.년도 == 2018]['점수'].values * (-1)

In [119]:
ctrs.groupby('나라명').sum().sort_values('점수',ascending = False)['점수'].to_frame().iloc[0]

점수    0.87
Name: Burundi, dtype: float64