### 2.1 변수와 자료형

#### 일반적인 변수
- 변수는 필요한 자료를 일시적으로 보관하거나 처리 결과를 담을 수 있는 기억장소 역할을 함

- 변수는 실제 값을 저장하는 메모리 이름으로 할당됨

#### 파이썬 변수
- 변수에 저장될 값이 먼저 메모리에 객체 형태로 저장된 후, 객체의 주소가 변수가 저장됨
- 실제값이 저장되지 않고, *실제값이 저장된 주소를 기억하는 '참조형변수'가 됨
- 방대한 자료, 함수, 차트 등 다양한 유형의 객체를 담을 수 있음

In [1]:
var1 = 'hello python'
print(var1), print(id(var1))

hello python
1633748553968

(None, None)

In [2]:
var2 = 100
print(var2), print(id(var2))

100
140716976513904

(None, None)

#### 예약어 확인

In [3]:
import keyword

python_kw = keyword.kwlist
print(python_kw)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#### 모듈: 프로그래밍에서 자주 사용하는 수식이나 기능 등을 파이썬파일(*.py)로 저장해둔 것
- 파이썬 설치 시 자동생성(C:\Python38\Lib)
- import keyword: keyword.py파일의 내용을 현재 작성중인 모듈로 가져온다는 뜻임

#### 자료형
- 파이썬은 변수 선언 시 별도의 자료형을 선언하지 않음. 객체의 자료형에 의해 변수의 자료형이 결정됨

#### 연산자
- 대입연산자
    <br> packing: 여러 개의 값을 묶어 변수에 할당하는 연산자(*)

In [4]:
i = tot = 10
i += 1
tot += i
i, tot

(11, 21)

In [5]:
v1, v2 = 100, 200

In [6]:
lst =[1,2,3,4,5]
v1, *v2 = lst      # 첫번째 원소는 v1, 나머지 원소가 v2에 할당됨
v1, v2

(1, [2, 3, 4, 5])

In [7]:
*v1, v2 = lst
v1, v2

([1, 2, 3, 4], 5)

### 표준입출력장치

#### 표준입력장치
- 키보드로 입력받아서 로직 처리 확인: input(prompt)

#### 표준출력장치
- 콘솔에 출력

#### 함수의 용도, 인수의 역할 확인: help() 함수 이용
- 예) print(values, sep, end, file, flush)

In [9]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

built-in function print in module builtins: 기본 모듈에 포함된 내장함수 (자동설치)

5개 인수의 역할: value, file, sep, end, flush
- value: values 속성은 ,콤마에 의해서 구분됨
- sep: 임의의 특수문자로 값을 구분
- end: (print함수는 기본적으로 줄바꿈되나) 다음에 출력되는 내용이 현재 출력되는 내용과 구분되어 출력됨

In [10]:
print('value = ', 10+20+30+40+50)

value =  150

In [11]:
print('010','1234','5678', sep= '-')

010-1234-5678

In [12]:
print('value = ', 10, end = ', ')
print('value = ', 20)

value =  10, value =  20

#### format과 양식문자
- format(value, 'format')
- print('%양식문자'%(값)) 형식으로 출력
    - %d 10진수 정수
    - %f 실수(%전체자릿수.소수점자릿수f)
    - %s 문자열

In [13]:
format(3.14159, "8.3f")

'   3.142'

In [14]:
format(10000, '10d')

'     10000'

In [16]:
format(125000, '3,d')

'125,000'

In [17]:
name = '홍길동'
age = 35
price = 125.456
print('이름: %s, 나이: %d, data = %.2f' %(name, age, price))

이름: 홍길동, 나이: 35, data = 125.46

In [19]:
print('이름: {}, 나이: {}, data= {}'.format(name, age, price))

이름: 홍길동, 나이: 35, data= 125.456

In [20]:
print('이름: {1}, 나이: {0}, data= {2}'.format(name, age, price))

이름: 35, 나이: 홍길동, data= 125.456

In [21]:
uid = input('id input: ')
query = f'select * from member where uid = {uid}'
print(query)

id input: 홍길동
select * from member where uid = 홍길동

#### 문자형 색인

In [22]:
string = 'PYTHON'
string[0]

'P'

In [26]:
string[-3]

'H'

In [23]:
print('python' + ' program')

python program

In [24]:
print('python-' + str(3.7) + '.exe')

python-3.7.exe

In [25]:
print('-'*30)

------------------------------

#### 문자열 처리 함수

- s.swapcase() : 대소문자 서로 변경
- s.lstrip()   : 문자열 s의 왼쪽공백 지우기
- s.rstrip()   : 문자열 s의 오른쪽공백 지우기
- s.strip()   : 문자열 s의 양쪽공백 지우기
<br>
- s.count(x)  : 문자x와 일치하는 문자의 갯수 반환
- s.find(x)   : 문자x가 처음 나온 위치를 반환 (없으면 -1 반환)
- s.rfind(x)  : 문자x가 처음 나온 위치를 오른쪽 끝에서부터 찾음
- s.index(x)   : 문자x가 처음 나온 위치를 반환 (없으면 에러발생)
<br>
- '구분자'.join(s): 구분자로 결합
- s.replace(x,r): 문자x를 문자r로 교체
- s.startswith("H"): H라는 문자로 시작되는지 여부 판단

#### ESCAPE 문자
- \n 줄바꿈
- \t tab
- \r 캐리지 리턴, 다음줄 첫칸으로 이동 
- \f 폼 피드 처리, 한페이지 넘김
- \b 백스페이스 처리
- \\ '\
- \' '
- \" "
- \000 null 문자처리

In [28]:
print('\\ 이스케이프 문자')
print(r'\ 이스케이프 문자')   # r: raw

\ 이스케이프 문자
\ 이스케이프 문자

In [29]:
print('path =', r'C:\python\test')
print('path =', 'C:\\python\\test')

path = C:\python\test
path = C:\python\test