In [133]:
import sqlite3

In [135]:
try: ## try문 내의 값을 실행
    # (1) DB연동 객체 : 지정 경로에 DB파일 생성, 해당 DB로 연결되는 객체(conn)가 생성됨
    conn = sqlite3.connect("Data/sqlite_db")   # DB생성 > 연결 object
    
    # (2) SQL실행 객체 : DB 내의 객체를 주고받을 때 cursor를 사용
    cursor = conn.cursor()
    
    # (3) table 생성 : test_table을 생성
    sql = 'create table if not exists test_table(name text(10), phone text(15), addr text(50))'
    cursor.execute(sql)   # cursor객체에서 실행할 수 있는 execute함수로 실행
    
    # (4) 레코드 추가 : insert문으로 레코드 추가
    cursor.execute("insert into test_table values('홍길동','010-1111-1111','서울시')")
    cursor.execute("insert into test_table values('이순신','010-2222-2222','하남시')")
    cursor.execute("insert into test_table values('강감찬','010-1111-1111','평양시')")
    conn.commit()     # DB에 반영
    
    # (5) 레코드 조회 : select문 형식으로 레코드 조회
    cursor.execute("select * from test_table")
    rows = cursor.fetchall()    # 조회 레코드 가져오기
    ##### fetch: 커서에서 원하는 결과값을 추출
    
    # (6) 레코드 출력1 : 한 레코드씩 튜플 단위로 반환
    for row in rows:
        print(row)
        
    # (7) 레코드 출력2 : 전체 레코드를 컬럼 단위로 출력
    print('이름 \t전화번호 \t주소')       # Escape Code: \n: 줄바꿈, \t: tab, \0: 공백, \'\'
    for row in rows:
        print(row[0],'\t',row[1],'\t',row[2])

except Exception as e:  # 정상실행되지 않을 때
    print("DB연동 실패: ", e)
    conn.rollback()    # 실행취소. 실행 중 ERROR가 나면 과거로 돌아감

finally:
    cursor.close()   # cursor 객체 닫기  try문 내, connect, cursor 와 반대개념
    conn.close()     # conn 객체 닫기

('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '하남시')
('강감찬', '010-1111-1111', '평양시')
이름 	전화번호 	주소
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 하남시
강감찬 	 010-1111-1111 	 평양시

### MySQL의 Workbench 프로그램

MySQL의 최적화된 브라우징프로그램: Workbench, DBeaver, ...

## ★DB vs DBMS

- DB와 DBMS는 구분이 필요: DB를 다루는 프로그램이 DBMS
<br> DB: excel파일 
<br> DBMS : excel프로그램, SW
<br> ex) SQLite3.exe는 SQLite형식의 DB를 CRUD 기능하는 프로그램


### 범용DBMS와 SQLite3와 비교

- DBMS: 관리 로직이 있음
<br> workbench 프로그램으로 들어가서 로그인 해야만 DB가 보임

- SQLite3: 파일만 만들면 존재하는 DB. 공유 안 됨. 관리의 특성도 없음 ≒ 메모장
<br> 스마트폰 하나 구동하는 정도로 사용됨. 
<br> 파일 하나가 DB 하나의 개념임

### CLI방식으로 실행 
★명령 프롬프트: CLI 방식 명령어 사용

- 키보드 명령어로 line by line 입력 (vs GUI Graphic User Interface)
<br> Command Lind Interface 명령 줄 인터페이스
- 명령어
<br> cd..     :        # change directory 상위폴더 이동
<br> cd (폴더이름):    # 하위폴더 이동
<br> dir      :        # 디렉토리 확인
<br> sqlite3  :        # sqlite3.exe실행
<br> .exit    :      # out

### 만든 테이블을 CLI방식으로 실행해보기

- https://www.sqlite.org/download.html 에서 
    "sqlite-tools-win32-x86-3420000.zip(1.93 MiB)" 다운로드
<br> 압축풀고 sqlite3.exe 를 python38 > Lib 로 복사 
<br> 압축풀고 sqlite3.exe 를 workspace > Data 로 복사 (위에서 생성된 sqlite_db파일이 있는 폴더)
<br> : DB파일과 DBMS파일이 한 폴더에 있음
<br> sqlite_db : DB파일
<br> sqlite3.exe : DB파일을 CRUD할 수 있는 DBMS역할을 하는 파일

- DB파일과 DBMS파일이 위치한 폴더로 이동
<br>.open sqlite_db   # sqlite_db 실행
<br>.table   # 테이블명 보기
<br>.schema test_table   # 테이블 보기
<br>select * from test_table;   # 테이블내용 보기
<br>.exit   # 프로그램 종료

### GUI방식으로 실행

DB Browser for SQLite 다운로드 설치 

https://docs.google.com/document/d/10bsXA05MAU7gJFqfo68EPewZtulfolIX/edit

### ★환경변수

OS입장에서 해당 프로세스를 실행시키기 위해 참조하는 변수
해당 파일로 접근하기 위해서는 그 파일이 존재하는 디렉토리로 이동해야하는 불편함이 있다. 만약 어느 경로에서나 test.txt를 열 수 있는 방법은 없을까? >> 환경변수

운영체제 입장에서 응용프로그램이 어느 폴더에 있는지 알면 빠르게 실행 가능
환경변수는, 없다면 순서대로 찾아가라 는 개념임
프로그램따라 자동으로 설정되기도, 그렇지 않기도 함

파일시스템
파일의 속성, OS에서 우선순위, 저장장치에서 어떻게 관리되나

SW종류: 시스템SW, 응용SW(=응용프로그램. C언어와 같은 프로그램 소스코드 작성 및 컴파일로 탄생)

# 실습 0-5

In [6]:
import sqlite3

### 가. 데이터베이스에 테이블 생성

In [33]:
try:
    conn = sqlite3.connect('Data/sqlite2_db.db')
    
    cursor = conn.cursor()
    
    sql = "create table if not exists item(code integer primary key, name text(30) unique not null, qty integer default 0, unit_price real default 0.0)"
    cursor.execute(sql)
    conn.commit()
    
    cursor.execute("select * from item")
    rows = cursor.fetchall()
    for row in rows:
        print(row[0],'\t',row[1],'\t',row[2])

except Exception as e:
    print("DB연동 실패: ", e)
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

### 나. 5건의 row 추가

In [34]:
try:
    conn = sqlite3.connect('Data/sqlite2_db.db')
    
    cursor = conn.cursor()
    
    cursor.execute("insert into item values('1','선풍기','1','150')")
    cursor.execute("insert into item values('2','에어콘','1','200')")
    cursor.execute("insert into item values('3','충전기','1','100')")
    cursor.execute("insert into item values('4','키보드','1','70')")
    cursor.execute("insert into item values('5','마우스','1','60')")
    conn.commit()

    cursor.execute("select * from item")
    rows = cursor.fetchall()
    for row in rows:
        print(row[0], row[1], row[2], row[3])

except Exception as e:
    print("DB연동 실패: ", e)
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

1 선풍기 1 150.0
2 에어콘 1 200.0
3 충전기 1 100.0
4 키보드 1 70.0
5 마우스 1 60.0

### 다. (나)에서 추가한 5건의 row를 모두 조회

In [35]:
try:
    conn = sqlite3.connect('Data/sqlite2_db.db')
    
    cursor = conn.cursor()
    
    cursor.execute("select * from item")
    rows = cursor.fetchall()
    for row in rows:
        print(row[0],row[1],row[2],row[3])

except Exception as e:
    print("DB연동 실패: ", e)
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

1 선풍기 1 150.0
2 에어콘 1 200.0
3 충전기 1 100.0
4 키보드 1 70.0
5 마우스 1 60.0

### 라. (나)에 추가한 5건의 row 중에서 사용자가 input으로 입력한 code값에 해당하는 정보 조회

In [44]:
try:
    conn = sqlite3.connect('Data/sqlite2_db.db')
    cursor = conn.cursor()
    
    sql = "select * from item"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    print('<code | name | qty | price>')
    for row in rows: 
        print(row)
        
    code = int(input('\n조회할 상품의 코드를 입력하세요: '))
    sql = f"select * from item where code like {code}"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    if rows:
        for row in rows:
            print(f"조회 결과는 코드: {row[0]}, 제품명: {row[1]}, 수량: {row[2]}, 단가: {int(row[3])}입니다.")
    else:
        print("검색된 레코드 없음")    
    
except Exception as e:
    print("DB연동 실패: ", e)
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

<code | name | qty | price>
(1, '선풍기', 1, 150.0)
(2, '에어콘', 1, 200.0)
(3, '충전기', 1, 100.0)
(4, '키보드', 1, 70.0)
(5, '마우스', 1, 60.0)

조회할 상품의 코드를 입력하세요: 5
조회 결과는 코드: 5, 제품명: 마우스, 수량: 1, 단가: 60입니다.

### ================================= 해답 ==================================

In [75]:
try:
    conn = sqlite3.connect('Data/sqlite2_db.db')
    
    cursor = conn.cursor()
    
    ##### (가) item 테이블 생성
    sql = """create table if not exists item(code integer primary key, 
    name text(30) unique not null, 
    qty integer default 0, 
    unit_price real default 0.0)
    """
    cursor.execute(sql)
    conn.commit()
    
    ##### (나) 레코드 삽입
    # 테이블에 레코드 존재하는지 먼저 검사 후, 있으면 삭제하고 삽입
    sql = "select * from item"
    cursor.execute(sql)   # 조회
    dataset = cursor.fetchall()
    
    ##### 디버깅용 코드
    #print("==")
    #print(type(dataset))
    #print(len(dataset))
    #print(dataset)
    #print(dataset[len(dataset)-1])
    #print(  type(dataset[len(dataset)-1])  )
    #print("==")
    
    # 레코드 존재하면 삭제
    if len(dataset) > 0:  # null이 아닌 경우. 검색결과가 존재하는 경우
        cursor.execute('delete from item')   # 레코드 전체 삭제
        conn.commit()
    else:
        pass
    
    # 레코드 삽입
    cursor.execute("insert into item values(1,'선풍기',1,150)")
    cursor.execute("insert into item values(2,'에어콘',1,200)")
    cursor.execute("insert into item values(3,'충전기',1,100)")
    cursor.execute("insert into item values(4,'키보드',1,70)")
    cursor.execute("insert into item values(5,'마우스',1,60)")
    conn.commit()
    
    ##### (다) 모든 레코드 조회
    cursor.execute(sql)
    rows = cursor.fetchall()
    print("(code, name, qty, price)")
    for row in rows:
        print(row)
        
    ##### (라) 단일 레코드 조회
    in_code = int(input("조회할 상품의 코드를 입력하세요: "))
    sql = f"select*from item where code = {in_code}"
    cursor.execute(sql)
    rows = cursor.fetchall()
    for row in rows:
        print("조회 결과는 코드: {}, 제품명: {}, 수량: {}, 단가: {}입니다."\
              .format(row[0], row[1], row[2], int(row[3])))

except Exception as e:
    print("DB연동 실패: ", e)
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

==
기 존재 레코드:  5
==
(code, name, qty, price)
(1, '선풍기', 1, 150.0)
(2, '에어콘', 1, 200.0)
(3, '충전기', 1, 100.0)
(4, '키보드', 1, 70.0)
(5, '마우스', 1, 60.0)
조회할 상품의 코드를 입력하세요: 4
조회 결과는 코드: 4, 제품명: 키보드, 수량: 1, 단가: 70입니다.

### ================================= 학습 ==================================

In [89]:
try:
    # connection 연결
    conn = sqlite3.connect('Data/sqlite3_db.db')
    
    # cursor 생성
    curs = conn.cursor()
    
    # table 생성
    sql = '''
    create table if not exists fruits(
    code integer primary key,
    name text(30) unique not null,
    qty integer default 0,
    price integer default 0)
    '''
    curs.execute(sql)
    conn.commit()  # DB반영
    
    # 검색결과가 존재하는 경우 지우기
    sql = 'select * from fruits'
    curs.execute(sql)
    dataset = curs.fetchall()
    
    # 존재하는 레코드 갯수 조회
    print("="*36)
    print("기 존재 레코드 타입: ", type(dataset))
    print("기 존재 레코드 갯수: ", len(dataset))
    print("="*36)
       
    if len(dataset)>0:
        curs.execute('delete from fruits')
        conn.commit()
    else:
        pass
    
    # 레코드 삽입
    curs.execute('insert into fruits values(1,"apple",3,1200)')
    curs.execute('insert into fruits values(2,"banana",5,8000)')
    curs.execute('insert into fruits values(3,"grape",2,6500)')
    curs.execute('insert into fruits values(4,"melon",1,4000)')
    curs.execute('insert into fruits values(5,"cherry",1,3800)')
    conn.commit()
    
    # 모든 레코드 조회
    curs.execute(sql)
    rows = curs.fetchall()
    print('code | name | qty | price')
    for row in rows:
        print(row)
        
    # 단일 레코드 조회
    code = int(input('\n조회하고 싶은 상품코드를 입력하세요: '))
    sql = f'select*from fruits where code = {code}'
    curs.execute(sql)
    row = curs.fetchone()
    if row:
        print("조회 결과>>> 코드: {}, 제품명: {}, 수량: {}, 단가: {}".format(row[0],row[1],row[2],row[3]))
    else:
        print("해당 코드의 상품이 없습니다")
    
except Exception as e:
    print("Error", e)
    conn.rollback()

finally:
    curs.close()
    conn.close()

====================================
기 존재 레코드 타입:  <class 'list'>
기 존재 레코드 갯수:  5
====================================
code | name | qty | price
(1, 'apple', 3, 1200)
(2, 'banana', 5, 8000)
(3, 'grape', 2, 6500)
(4, 'melon', 1, 4000)
(5, 'cherry', 1, 3800)

조회하고 싶은 상품코드를 입력하세요: 8
해당 코드의 상품이 없습니다

## curs.commit() 
- C, U, D에는 필요
- 조회할 때는 필요 없음

## fetch
- fetchall()  : 모든 rows
- fetchone()  : 하나의 row

# 실습 0-6

In [90]:
import sqlite3

In [130]:
try:
    conn = sqlite3.connect('Data/sqlite2_db.db')
    curs = conn.cursor()
    
    sql = 'delete from item'
    curs.execute(sql)
    conn.commit()
    
    ##### 테이블생성
    sql = '''
    create table if not exists fruits(
    code integer primary key,
    name text(30) unique not null,
    qty integer default 0,
    price integer default 0)
    '''
    curs.execute(sql)
    conn.commit()
    
    ##### 실행결과1: 상품등록
    
    # 현재상품 확인
    sql = 'select * from item'
    curs.execute(sql)
    dataset = curs.fetchall()
    
    print("======= 상품등록 =======")
    while len(dataset) < 5:
        len1 = len(dataset)
        code = int(input('\n등록하려는 상품코드 입력: '))
        name = input("상품이름 입력: ")
        qty = int(input('수량 입력: '))
        price = int(input('단가 입력: '))
        sql = f'insert into item values({code}, "{name}", {qty}, {price})'
        curs.execute(sql)
        conn.commit()

        # 상품 추가여부 확인
        sql = 'select * from item'
        curs.execute(sql)
        dataset = curs.fetchall()
        len2 = len(dataset)

        if len2 > len1:
            print(">>> 상품등록을 성공했습니다.")
        else:
            print(">>> 상품이 등록되지 않았습니다")

    ##### 실행결과2: 상품조회
    sql = 'select * from item'
    curs.execute(sql)
    rows = curs.fetchall()
    print('\n======= 상품조회1 =======')
    print('(code, name, qty, price)')
    for row in rows:
        print(row)
        
    ##### 실행결과3,4: 개별 상품조회
    print('\n======= 상품조회2 =======')
    row = None
    while row == None:
        code = int(input('\n조회할 코드를 입력하세요: '))
        sql = f'select * from item where code = {code}'
        curs.execute(sql)
        row = curs.fetchone()
        if row:
            print('조회 결과 상품의 코드: {}, 제품명: {}, 수량: {}, 단가: {} 입니다.'.format(row[0],row[1],row[2],int(row[3])))
        else:
            print("입력한 코드에 맞는 상품이 없습니다.")                  

except Exception as e:
    print("ERROR", e)
    conn.rollback()
    
finally:
    curs.close()
    conn.close()

======= 상품등록 =======

등록하려는 상품코드 입력: 1
상품이름 입력: 선풍기
수량 입력: 1
단가 입력: 150
>>> 상품등록을 성공했습니다.

등록하려는 상품코드 입력: 2
상품이름 입력: 에어컨
수량 입력: 1
단가 입력: 200
>>> 상품등록을 성공했습니다.

등록하려는 상품코드 입력: 3
상품이름 입력: 충전기
수량 입력: 1
단가 입력: 100
>>> 상품등록을 성공했습니다.

등록하려는 상품코드 입력: 4
상품이름 입력: 키보드
수량 입력: 1
단가 입력: 70
>>> 상품등록을 성공했습니다.

등록하려는 상품코드 입력: 5
상품이름 입력: 마우스
수량 입력: 1
단가 입력: 60
>>> 상품등록을 성공했습니다.

======= 상품조회1 =======
(code, name, qty, price)
(1, '선풍기', 1, 150.0)
(2, '에어컨', 1, 200.0)
(3, '충전기', 1, 100.0)
(4, '키보드', 1, 70.0)
(5, '마우스', 1, 60.0)

======= 상품조회2 =======

조회할 코드를 입력하세요: 7
입력한 코드에 맞는 상품이 없습니다.

조회할 코드를 입력하세요: 1
조회 결과 상품의 코드: 1, 제품명: 선풍기, 수량: 1, 단가: 150 입니다.