## 대한민국 체력장 데이터

In [62]:
import pandas as pd
import datetime as dt

In [2]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

71.전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13396 entries, 0 to 13395
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   측정나이              13396 non-null  float64
 1   측정회원성별            13396 non-null  object
 2   신장 : cm           13396 non-null  float64
 3   체중 : kg           13396 non-null  float64
 4   체지방율 : %          13396 non-null  float64
 5   이완기혈압(최저) : mmHg  13396 non-null  float64
 6   수축기혈압(최고) : mmHg  13396 non-null  float64
 7   악력D : kg          13396 non-null  float64
 8   앉아윗몸앞으로굽히기 : cm   13396 non-null  float64
 9   교차윗몸일으키기 : 회      13396 non-null  float64
 10  제자리 멀리뛰기 : cm     13396 non-null  float64
 11  등급                13396 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

In [6]:
(df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()

52.19539414750672

Q72.50~59세의 신장평균을 구하여라

In [12]:
df[(50<=df.측정나이)&(df.측정나이<=59)]['신장 : cm'].mean()

164.07490107405314

## Q73.연령대 (20~29 : 20대 …) 별 인원수를 구하여라

In [16]:
df['연령대'] = df.측정나이 // 10 * 10

In [18]:
df.value_counts('연령대')

연령대
20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
dtype: int64

In [19]:
df.groupby('연령대').size()

연령대
20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
dtype: int64

Q74.연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라

In [28]:
df.groupby(['연령대','등급']).size().to_frame('size')

         size
연령대  등급
20.0 A   1585
     B   1443
     C   1455
     D   1348
30.0 A    743
     B    697
     C    626
     D    594
40.0 A    386
     B    428
     C    455
     D    532
50.0 A    321
     B    410
     C    474
     D    564
60.0 A    314
     B    371
     C    339
     D    311

Q75.남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [29]:
df.head(3)

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급,연령대
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,50.0
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B,40.0
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,20.0

In [31]:
df.측정회원성별.unique()

array(['M', 'F'], dtype=object)

In [35]:
df[df.측정회원성별 == 'M'][df[df.측정회원성별 == 'M'].등급 == 'A']['체지방율 : %'].mean()

16.880880844504023

In [36]:
df[df.측정회원성별 == 'M'][df[df.측정회원성별 == 'M'].등급 == 'D']['체지방율 : %'].mean()

24.812967330641545

In [37]:
df[df.측정회원성별 == 'M'][df[df.측정회원성별 == 'M'].등급 == 'D']['체지방율 : %'].mean() - df[df.측정회원성별 == 'M'][df[df.측정회원성별 == 'M'].등급 == 'A']['체지방율 : %'].mean()

7.932086486137521

Q76.여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [38]:
df[(df.측정회원성별 == 'M') & (df.등급 == 'A')]['체중 : kg'].mean()

71.50427882037532

In [39]:
df[(df.측정회원성별 == 'M') & (df.등급 == 'D')]['체중 : kg'].mean()

77.69421713772992

In [40]:
df[(df.측정회원성별 == 'M') & (df.등급 == 'D')]['체중 : kg'].mean() - df[(df.측정회원성별 == 'M') & (df.등급 == 'A')]['체중 : kg'].mean()

6.189938317354603

Q77.bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라

In [50]:
df['BMI'] = df['체중 : kg'] / ((df['신장 : cm']/100)**2)

In [51]:
df[df.측정회원성별 == 'M'].BMI.mean()

24.46134409819308

Q78.bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라

In [53]:
df[df['체지방율 : %'] > df.BMI]['체중 : kg'].mean()

61.7408806392542

Q79.남성과 여성의 악력 평균의 차이를 구하여라

In [56]:
df[df.측정회원성별 == 'M']['악력D : kg'].mean() - df[df.측정회원성별 == 'F']['악력D : kg'].mean()

17.55954185047464

## Q80.남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라

In [58]:
df.groupby("측정회원성별")['교차윗몸일으키기 : 회'].mean().M - df.groupby("측정회원성별")['교차윗몸일으키기 : 회'].mean().F

14.243156833157627

## 기온 강수량 데이터

In [59]:
url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv'
df = pd.read_csv(url)
df.head()

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    8784 non-null   object
 1   이화동강수   8784 non-null   float64
 2   이화동기온   8784 non-null   float64
 3   수영동강수   8784 non-null   float64
 4   수영동기온   8784 non-null   float64
dtypes: float64(4), object(1)
memory usage: 343.2+ KB

Q81.여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가?

In [61]:
df.time = df.time.astype("datetime64")

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    8784 non-null   datetime64[ns]
 1   이화동강수   8784 non-null   float64
 2   이화동기온   8784 non-null   float64
 3   수영동강수   8784 non-null   float64
 4   수영동기온   8784 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 343.2 KB

In [64]:
df.time.max(), df.time.min()

(Timestamp('2020-12-31 23:00:00'), Timestamp('2020-01-01 00:00:00'))

In [74]:
df[df.time.dt.month.isin([6,7,8])][ df[df.time.dt.month.isin([6,7,8])].이화동기온 > df[df.time.dt.month.isin([6,7,8])].수영동기온 ].groupby(df.time.dt.hour).size().sum()

1415

In [75]:
len(df[df.time.dt.month.isin([6,7,8])][ df[df.time.dt.month.isin([6,7,8])].이화동기온 > df[df.time.dt.month.isin([6,7,8])].수영동기온 ])

1415

Q82.이화동과 수영동의 최대강수량의 시간대를 각각 구하여라

In [87]:
df.sort_values('이화동강수').iloc[-1].time

Timestamp('2020-09-30 09:00:00')

In [82]:
df.sort_values('수영동강수').iloc[-1].time

Timestamp('2020-07-23 12:00:00')

In [91]:
df[df.이화동강수 == df.이화동강수.max()].time.values

array(['2020-09-30T09:00:00.000000000'], dtype='datetime64[ns]')

In [92]:
df[df.수영동강수 == df.수영동강수.max()].time.values

array(['2020-07-23T12:00:00.000000000'], dtype='datetime64[ns]')