In [1]:
import tensorflow as tf
import pandas as pd

generator = tf.keras.models.load_model('Data/result/korean_number_gen_test.h5')
generator.summary()

,255,255.1,254,253,250,249,251,254.1,251.1,253.1,...,244.14,255.409,252.47,253.76,252.48,255.410,254.131,252.49,255.411,255.412
0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,254.0,255.0,...,255.0,253.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0
1,255.0,248.0,255.0,255.0,252.0,252.0,255.0,253.0,255.0,253.0,...,249.0,251.0,255.0,255.0,252.0,253.0,252.0,254.0,253.0,250.0
2,255.0,249.0,253.0,255.0,250.0,250.0,252.0,244.0,255.0,255.0,...,253.0,251.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0
3,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0
4,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,254.0,255.0,255.0

In [ ]:
from matplotlib import pyplot as plt
import PIL
plt.figure(figsize=(10,10))
img=PIL.Image.open('image_at_epoch_0100.png')
plt.imshow(img, 'gray')
plt.title('epoch 100')
plt.axis('off')
plt.show()

In [ ]:
noise_dim = 100
num_ex_to_generate = 64
seed = tf.random.normal([num_ex_to_generate, noise_dim])
pred = generator(seed, training=False)
fig = plt.figure(figsize = (8,8))
for i in range(pred.shape[0]):
    plt.subplot(8,8,i+1)
    plt.imshow(pred[i,:,:,0]*127.5 + 127.5, cmap='gray')
    plt.axis('off')